Repository dreammall-earth/dreammall.earth, pull requests merged in 2023-12, with the labels that each got.

#26 feat(presenter): german translation
  presenter/src/components/menu/FooterMenu.vue
  presenter/src/locales/de.json
  presenter/src/locales/en.json
Labels: feature, service:presenter

#37 feat(presenter): sixth section with content
  presenter/src/components/sections/SixthSection.stories.ts
  presenter/src/components/sections/SixthSection.test.ts
  presenter/src/components/sections/SixthSection.vue
  presenter/src/locales/de.json
  presenter/src/locales/en.json
  presenter/src/pages/index/index.page.vue
Labels: feature, design, service:presenter

#40 feat(presenter): update first section
  presenter/src/assets/img/video_placeholder.png
  presenter/src/assets/video/header_video.mp4
  presenter/src/components/sections/FirstSection.test.ts
  presenter/src/components/sections/FirstSection.vue
  presenter/src/locales/de.json
  presenter/src/locales/en.json
Labels: feature, design, service:presenter

#38 feat(presenter): added second section with content
  presenter/src/assets/dreammall-logo-plain.svg
  presenter/src/components/inputs/MainButton.stories.ts
  presenter/src/components/inputs/MainButton.vue
  presenter/src/components/sections/SecondSection.stories.ts
  presenter/src/components/sections/SecondSection.vue
  presenter/src/locales/de.json
  presenter/src/locales/en.json
Labels: feature, design, service:presenter

#41 feat(presenter): fifth section with content
  presenter/src/assets/img/slides/app_1.svg
  presenter/src/assets/img/slides/app_10.svg
  presenter/src/assets/img/slides/app_2.svg
  presenter/src/assets/img/slides/app_3.svg
  presenter/src/assets/img/slides/app_4.svg
  presenter/src/assets/img/slides/app_5.svg
  presenter/src/assets/img/slides/app_8.svg
  presenter/src/assets/img/slides/app_calendar.svg
  presenter/src/assets/img/slides/slide1_logo.svg
  presenter/src/assets/img/slides/slide2_logo.svg
  presenter/src/assets/img/slides/slide3_logo.svg
  presenter/src/components/sections/FifthSection.test.ts
  presenter/src/components/sections/FifthSection.vue
  presenter/src/components/sections/FiifthSection.stories.ts
  presenter/src/locales/de.json
  presenter/src/locales/en.json
  presenter/src/pages/index/index.page.test.ts
  presenter/src/pages/index/index.page.vue
Labels: feature, refactor, design

#54 feat(docker): setup database
  .github/workflows/backend.test.unit.code.yml
  backend/.env.dist
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20231211091701_initial_migration/migration.sql
  backend/prisma/migrations/20231212113635_hello/migration.sql
  backend/prisma/migrations/migration_lock.toml
  backend/prisma/schema.prisma
  database/Dockerfile
  docker-compose.override.yml
  docker-compose.test.yml
  docker-compose.yml
Labels: service:docker

#59 feat(backend): save contact form
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20231212113635_hello/migration.sql
  backend/prisma/migrations/20231212174905_contact_form/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/src/graphql/inputs/ContactFormInput.ts
  backend/src/graphql/resolvers/ContactFormResolver.spec.ts
  backend/src/graphql/resolvers/ContactFormResolver.ts
  backend/src/graphql/resolvers/HelloResolver.test.ts
  backend/src/graphql/resolvers/HelloResolver.ts
  backend/src/graphql/schema.ts
  backend/src/graphql/types/Hello.ts
  backend/test/helpers.ts
  backend/tsconfig.json
Labels: feature

#57 docs(backend): database connection
  backend/README.md
Labels: docu

#61 feat(presenter): update footer
  presenter/src/components/inputs/ContactForm.stories.ts
  presenter/src/components/inputs/ContactForm.test.ts
  presenter/src/components/inputs/ContactForm.vue
  presenter/src/components/inputs/MainButton.stories.ts
  presenter/src/components/inputs/MainButton.vue
  presenter/src/components/menu/FooterMenu.test.ts
  presenter/src/components/menu/FooterMenu.vue
  presenter/src/components/menu/LogoImage.vue
  presenter/src/components/menu/TopMenu.test.ts
  presenter/src/components/menu/TopMenu.vue
  presenter/src/components/nav/AnchorLink.vue
  presenter/src/locales/de.json
  presenter/src/locales/en.json
Labels: feature, design, service:presenter

#63 chore(presenter): remove storybook examples
  presenter/src/stories/Configure.mdx
  presenter/src/stories/ExampleButton.stories.ts
  presenter/src/stories/ExampleButton.vue
  presenter/src/stories/ExampleHeader.stories.ts
  presenter/src/stories/ExampleHeader.vue
  presenter/src/stories/ExamplePage.stories.ts
  presenter/src/stories/ExamplePage.vue
  presenter/src/stories/assets/accessibility.png
  presenter/src/stories/assets/accessibility.svg
  presenter/src/stories/assets/addon-library.png
  presenter/src/stories/assets/assets.png
  presenter/src/stories/assets/context.png
  presenter/src/stories/assets/discord.svg
  presenter/src/stories/assets/docs.png
  presenter/src/stories/assets/figma-plugin.png
  presenter/src/stories/assets/github.svg
  presenter/src/stories/assets/share.png
  presenter/src/stories/assets/styling.png
  presenter/src/stories/assets/testing.png
  presenter/src/stories/assets/theming.png
  presenter/src/stories/assets/tutorials.svg
  presenter/src/stories/assets/youtube.svg
  presenter/src/stories/button.css
  presenter/src/stories/header.css
  presenter/src/stories/page.css
  presenter/vitest.config.ts
Labels: refactor, service:presenter

#62 feat(presenter): typecheck in vite
  presenter/package-lock.json
  presenter/package.json
  presenter/renderer/app.ts
  presenter/src/components/inputs/ContactForm.stories.ts
  presenter/src/components/inputs/ContactForm.test.ts
  presenter/src/components/inputs/ContactForm.vue
  presenter/src/components/inputs/MainButton.stories.ts
  presenter/src/components/inputs/MainButton.test.ts
  presenter/src/components/inputs/MainButton.vue
  presenter/src/components/inputs/TestButtonInput.test.ts
  presenter/src/components/inputs/TextButtonInput.stories.ts
  presenter/src/components/layout/SectionColumnCard.stories.ts
  presenter/src/components/layout/SectionColumnCard.test.ts
  presenter/src/components/layout/SectionColumnCard.vue
  presenter/src/components/menu/FooterMenu.stories.ts
  presenter/src/components/menu/FooterMenu.test.ts
  presenter/src/components/menu/LogoImage.stories.ts
  presenter/src/components/menu/LogoImage.test.ts
  presenter/src/components/menu/TopMenu.stories.ts
  presenter/src/components/menu/TopMenu.test.ts
  presenter/src/components/nav/AnchorLink.stories.ts
  presenter/src/components/sections/FiifthSection.stories.ts
  presenter/src/components/sections/FirstSection.stories.ts
  presenter/src/components/sections/FirstSection.test.ts
  presenter/src/components/sections/FirstSection.vue
  presenter/src/components/sections/SecondSection.stories.ts
  presenter/src/components/sections/SixthSection.stories.ts
  presenter/src/components/sections/ThirdSection.stories.ts
  presenter/src/env.ts
  presenter/src/pages/_error.page.test.ts
  presenter/src/pages/index/index.page.test.ts
  presenter/types/vue.d.ts
  presenter/vite.config.ts
Labels: refactor, service:presenter

#64 feat(presenter): newsletter section
  presenter/src/components/inputs/MainButton.vue
  presenter/src/components/inputs/NewsletterForm.stories.ts
  presenter/src/components/inputs/NewsletterForm.test.ts
  presenter/src/components/inputs/NewsletterForm.vue
  presenter/src/components/sections/NewsletterSection.stories.ts
  presenter/src/components/sections/NewsletterSection.test.ts
  presenter/src/components/sections/NewsletterSection.vue
  presenter/src/locales/de.json
  presenter/src/locales/en.json
  presenter/src/pages/index/index.page.vue
Labels: feature, design, service:presenter

#75 feat(presenter): impress section
  presenter/.eslintrc.cjs
  presenter/.stylelintrc.json
  presenter/src/components/menu/FooterMenu.test.ts
  presenter/src/components/menu/FooterMenu.vue
  presenter/src/components/sections/ImpressSection.stories.ts
  presenter/src/components/sections/ImpressSection.test.ts
  presenter/src/components/sections/ImpressSection.vue
  presenter/src/locales/de.json
  presenter/src/locales/en.json
  presenter/src/pages/impressum.page.test.ts
  presenter/src/pages/impressum.page.vue
Labels: feature, design, service:presenter

#70 feat(presenter): fourth section
  presenter/src/assets/video/timeline.mp4
  presenter/src/components/inputs/MainButton.test.ts
  presenter/src/components/inputs/MainButton.vue
  presenter/src/components/sections/FourthSection.stories.ts
  presenter/src/components/sections/FourthSection.test.ts
  presenter/src/components/sections/FourthSection.vue
  presenter/src/locales/de.json
  presenter/src/locales/en.json
  presenter/src/pages/index/index.page.test.ts
  presenter/src/pages/index/index.page.vue
  presenter/vitest.config.ts
Labels: feature, design, service:presenter

#77 chore(presenter): update from boilerplate
  backend/src/index.ts
  presenter/package.json
  presenter/renderer/app.ts
  presenter/server/index.ts
  presenter/src/components/inputs/ContactForm.stories.ts
  presenter/src/components/inputs/ContactForm.test.ts
  presenter/src/components/inputs/MainButton.stories.ts
  presenter/src/components/inputs/NewsletterForm.stories.ts
  presenter/src/components/inputs/NewsletterForm.test.ts
  presenter/src/components/inputs/TextButtonInput.stories.ts
  presenter/src/components/layout/SectionColumnCard.stories.ts
  presenter/src/components/layout/SectionColumnCard.test.ts
  presenter/src/components/menu/FooterMenu.stories.ts
  presenter/src/components/menu/FooterMenu.test.ts
  presenter/src/components/menu/LogoImage.stories.ts
  presenter/src/components/menu/TopMenu.stories.ts
  presenter/src/components/menu/TopMenu.test.ts
  presenter/src/components/nav/AnchorLink.stories.ts
  presenter/src/components/sections/FiifthSection.stories.ts
  presenter/src/components/sections/FirstSection.stories.ts
  presenter/src/components/sections/FirstSection.test.ts
  presenter/src/components/sections/FourthSection.stories.ts
  presenter/src/components/sections/ImpressSection.stories.ts
  presenter/src/components/sections/NewsletterSection.stories.ts
  presenter/src/components/sections/SecondSection.stories.ts
  presenter/src/components/sections/SixthSection.stories.ts
  presenter/src/components/sections/ThirdSection.stories.ts
  presenter/src/pages/impressum.page.test.ts
  presenter/src/pages/index/index.page.test.ts
  presenter/tsconfig.json
  presenter/types/Component.ts
  presenter/types/SBComp.ts
  presenter/vite.config.ts
Labels: refactor, service:presenter

#76 feat(presenter): data protection page
  presenter/.eslintrc.cjs
  presenter/src/components/menu/FooterMenu.test.ts
  presenter/src/components/menu/FooterMenu.vue
  presenter/src/components/sections/DataProtectionSection.stories.ts
  presenter/src/components/sections/DataProtectionSection.test.ts
  presenter/src/components/sections/DataProtectionSection.vue
  presenter/src/components/sections/ImpressSection.test.ts
  presenter/src/locales/de.json
  presenter/src/locales/en.json
  presenter/src/pages/datenschutz.page.test.ts
  presenter/src/pages/datenschutz.page.vue
Labels: feature, design, service:presenter

#80 feat(presenter): section2 animation
  presenter/scripts/tests/mock.IntersectionObserver.ts
  presenter/src/components/sections/SecondSection.test.ts
  presenter/src/components/sections/SecondSection.vue
  presenter/src/pages/index/index.page.test.ts
Labels: feature, design, service:presenter

#83 feat(backend): subscribe to newsletter
  backend/prisma/migrations/20231214173756_newsletter_subscription/migration.sql
  backend/prisma/schema.prisma
  backend/src/graphql/resolvers/NewsletterSubscriptionResolver.spec.ts
  backend/src/graphql/resolvers/NewsletterSubscriptionResolver.ts
  backend/src/graphql/schema.ts
  backend/test/helpers.ts
Labels: feature

#85 feat(presenter): connect newsletter to backend
  presenter/package.json
  presenter/src/components/inputs/NewsletterForm.vue
  presenter/src/graphql/mutations/subscribeToNewsletterMutation.ts
  presenter/tsconfig.json
  presenter/vite.config.ts
Labels: feature, service:presenter

#71 feat(presenter): connect contact form to backend
  presenter/src/components/inputs/ContactForm.test.ts
  presenter/src/components/inputs/ContactForm.vue
  presenter/src/components/sections/FirstSection.vue
  presenter/src/graphql/mutations/createContactForm.ts
  presenter/vitest.config.ts
Labels: feature, test, service:presenter

#82 feat(presenter): design update
  presenter/src/assets/img/slides/app_1.svg
  presenter/src/assets/img/slides/app_10.svg
  presenter/src/assets/img/slides/app_2.svg
  presenter/src/assets/img/slides/app_3.svg
  presenter/src/assets/img/slides/app_4.svg
  presenter/src/assets/img/slides/app_5.svg
  presenter/src/assets/img/slides/app_8.svg
  presenter/src/assets/img/slides/app_calendar.svg
  presenter/src/assets/img/slides/slide1-calendar.svg
  presenter/src/assets/img/slides/slide1-link-based.svg
  presenter/src/assets/img/slides/slide1-logo.svg
  presenter/src/assets/img/slides/slide1-presentation.svg
  presenter/src/assets/img/slides/slide1-social.svg
  presenter/src/assets/img/slides/slide1-video-conf.svg
  presenter/src/assets/img/slides/slide1_logo.svg
  presenter/src/assets/img/slides/slide2-logo.svg
  presenter/src/assets/img/slides/slide2-presenter.svg
  presenter/src/assets/img/slides/slide2-selling.svg
  presenter/src/assets/img/slides/slide2-shops.svg
  presenter/src/assets/img/slides/slide2-trade.svg
  presenter/src/assets/img/slides/slide2_logo.svg
  presenter/src/assets/img/slides/slide3-dashboard.svg
  presenter/src/assets/img/slides/slide3-invitation.svg
  presenter/src/assets/img/slides/slide3-logo.svg
  presenter/src/assets/img/slides/slide3-search.svg
  presenter/src/assets/img/slides/slide3_logo.svg
  presenter/src/components/inputs/MainButton.stories.ts
  presenter/src/components/inputs/MainButton.vue
  presenter/src/components/layout/SectionColumnCard.vue
  presenter/src/components/menu/TopMenu.vue
  presenter/src/components/sections/FifthSection.vue
  presenter/src/components/sections/FirstSection.vue
  presenter/src/components/sections/FourthSection.vue
  presenter/src/components/sections/NewsletterSection.vue
  presenter/src/components/sections/SecondSection.vue
  presenter/src/components/sections/SixthSection.vue
  presenter/src/components/sections/ThirdSection.vue
  presenter/src/layouts/DefaultLayout.vue
  presenter/src/locales/de.json
  presenter/src/locales/en.json
  presenter/src/pages/index/index.page.vue
  presenter/vitest.config.ts
Labels: feature, design, service:presenter

#86 feat(presenter): fix apollo client testing
  presenter/package-lock.json
  presenter/package.json
  presenter/src/components/inputs/ContactForm.test.ts
  presenter/src/components/inputs/ContactForm.vue
  presenter/src/components/inputs/NewsletterForm.test.ts
  presenter/src/components/inputs/NewsletterForm.vue
  presenter/vitest.config.ts
Labels: test, service:presenter

#96 feat(backend): more fields on newsletter subscription
  backend/prisma/migrations/20231218225627_add_name_fields_to_newsletter_subscription2/migration.sql
  backend/prisma/migrations/20231218225655_remove_defaults_of_newsletter_subscription/migration.sql
  backend/prisma/schema.prisma
  backend/src/graphql/inputs/SubscribeToNewsletterInput.ts
  backend/src/graphql/resolvers/NewsletterSubscriptionResolver.spec.ts
  backend/src/graphql/resolvers/NewsletterSubscriptionResolver.ts
  presenter/src/components/inputs/NewsletterForm.test.ts
  presenter/src/components/inputs/NewsletterForm.vue
  presenter/src/graphql/mutations/subscribeToNewsletterMutation.ts
Labels: feature, service:presenter, service:backend

#113 feat(other): release mechanic, release 0.9.0
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  backend/package-lock.json
  backend/package.json
  package-lock.json
  package.json
  presenter/package-lock.json
  presenter/package.json
  scripts/release.sh
Labels: feature

#110 feat(backend): unit tests brevo api
  backend/.env.dist
  backend/jest.config.json
  backend/package-lock.json
  backend/package.json
  backend/src/api/NewsletterBrevo.spec.ts
  backend/src/api/NewsletterBrevo.ts
  backend/src/config/config.ts
  backend/src/graphql/resolvers/ContactFormResolver.spec.ts
  backend/src/graphql/resolvers/ContactFormResolver.ts
  backend/test/testSetup.ts
  backend/tsconfig.json
Labels: test, service:backend

#114 feat(backend): validation rules for inputs of contact form and newsletter
  backend/src/graphql/inputs/ContactFormInput.ts
  backend/src/graphql/inputs/SubscribeToNewsletterInput.ts
  backend/src/graphql/resolvers/ContactFormResolver.spec.ts
  backend/src/graphql/resolvers/NewsletterSubscriptionResolver.spec.ts
Labels: test, service:backend

#116 feat(presenter): form validation
  presenter/package-lock.json
  presenter/package.json
  presenter/src/components/inputs/ContactForm.test.ts
  presenter/src/components/inputs/ContactForm.vue
  presenter/src/components/inputs/NewsletterForm.test.ts
  presenter/src/components/inputs/NewsletterForm.vue
  presenter/src/locales/de.json
  presenter/src/locales/en.json
  presenter/src/validation/validation.ts
  presenter/vitest.config.ts
Labels: feature, service:presenter

#121 fix(presenter): fix buttons
  presenter/src/components/inputs/ContactForm.vue
  presenter/src/components/inputs/MainButton.test.ts
  presenter/src/components/inputs/MainButton.vue
  presenter/src/components/menu/TopMenu.test.ts
  presenter/src/components/menu/TopMenu.vue
  presenter/src/components/sections/FirstSection.test.ts
  presenter/src/components/sections/FirstSection.vue
  presenter/src/components/sections/NewsletterSection.vue
  presenter/src/components/sections/SecondSection.vue
  presenter/src/components/sections/SixthSection.vue
  presenter/src/layouts/DefaultLayout.vue
Labels: bug, feature, service:presenter

#118 feat(presenter): form feedback and design update
  presenter/src/components/inputs/ContactForm.test.ts
  presenter/src/components/inputs/ContactForm.vue
  presenter/src/components/inputs/MainButton.vue
  presenter/src/components/inputs/NewsletterForm.test.ts
  presenter/src/components/inputs/NewsletterForm.vue
  presenter/src/locales/de.json
  presenter/src/locales/en.json
  presenter/vitest.config.ts
Labels: feature, design, service:presenter

#122 refactor(backend): refactor config
  backend/package.json
  backend/src/api/NewsletterBrevo.spec.ts
  backend/src/api/NewsletterBrevo.ts
  backend/src/config/config.spec.ts
  backend/src/config/config.ts
  backend/src/config/printConfigError.spec.ts
  backend/src/config/printConfigError.ts
Labels: refactor, service:backend

#123 refactor(backend): email api
  backend/.env.dist
  backend/jest.config.json
  backend/src/api/Brevo.spec.ts
  backend/src/api/Brevo.ts
  backend/src/api/NewsletterBrevo.spec.ts
  backend/src/api/NewsletterBrevo.ts
  backend/src/config/config.spec.ts
  backend/src/config/config.ts
  backend/src/config/printConfigError.spec.ts
  backend/src/graphql/resolvers/ContactFormResolver.spec.ts
  backend/src/graphql/resolvers/ContactFormResolver.ts
  backend/src/graphql/resolvers/NewsletterSubscriptionResolver.spec.ts
  backend/src/graphql/resolvers/NewsletterSubscriptionResolver.ts
Labels: refactor, service:backend

#130 feat(presenter): final adjustments
  presenter/src/components/inputs/MainButton.vue
  presenter/src/components/layout/SectionColumnCard.vue
  presenter/src/components/sections/FifthSection.vue
  presenter/src/components/sections/FirstSection.vue
  presenter/src/components/sections/SecondSection.vue
  presenter/src/pages/index/index.page.vue
Labels: bug, design, service:presenter

#132 fix(presenter): fix invisible hamburger menu on Safari iOS
  presenter/src/components/menu/TopMenu.vue
Labels: bug, design

#125 refactor(presenter): utilize vike's client-side navigation
  presenter/src/components/inputs/ContactForm.vue
  presenter/src/components/inputs/MainButton.test.ts
  presenter/src/components/inputs/MainButton.vue
  presenter/src/components/inputs/NewsletterForm.vue
  presenter/src/components/menu/FooterMenu.test.ts
  presenter/src/components/menu/FooterMenu.vue
  presenter/src/components/nav/AnchorLink.vue
  presenter/src/components/sections/FirstSection.test.ts
  presenter/src/components/sections/FirstSection.vue
  presenter/src/components/sections/SecondSection.vue
Labels: refactor, service:presenter
