Repository dreammall-earth/dreammall.earth, pull requests merged in 2024-06, with the labels that each got.

#990 refactor(other): refine dependabot vite package groups in all frontends
  .github/dependabot.yml
Labels: devops, refactor, dependencies

#1013 fix(other): revert docs file exclusion from file filter and latest vuetify package update
  .github/file-filters.yml
  admin/package-lock.json
  admin/package.json
  frontend/package-lock.json
  frontend/package.json
  presenter/package-lock.json
  presenter/package.json
Labels: bug, devops, service:presenter, dependencies, service:frontend, service:admin

#1034 refactor(frontend): fix stories for header components
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/src/components/menu/BottomMenu.vue
  frontend/src/components/menu/LightDarkSwitch.stories.ts
  frontend/src/components/menu/UserDropdown.stories.ts
  frontend/src/components/menu/UserDropdown.vue
  frontend/src/components/menu/__snapshots__/BottomMenu.test.ts.snap
  frontend/src/components/switch/SwitchComponent.stories.ts
  frontend/src/layouts/DefaultLayout.vue
  frontend/src/layouts/__snapshots__/DefaultLayout.test.ts.snap
  frontend/src/pages/auth/__snapshots__/Page.test.ts.snap
  frontend/src/pages/index/__snapshots__/Page.test.ts.snap
  frontend/src/pages/silent-refresh/__snapshots__/Page.test.ts.snap
Labels: refactor, service:frontend

#1014 feat(frontend): join meeting page
  backend/jest.config.json
  backend/package-lock.json
  backend/package.json
  backend/src/graphql/resolvers/RoomResolver.spec.ts
  backend/src/graphql/resolvers/RoomResolver.ts
  frontend/src/graphql/queries/joinRoomQuery.ts
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/join-room/+Page.vue
  frontend/src/pages/join-room/+guard.ts
  frontend/src/pages/join-room/+route.ts
  frontend/src/pages/join-room/+title.ts
  frontend/src/pages/join-room/Guard.spec.ts
  frontend/src/pages/join-room/Page.test.ts
  frontend/src/pages/join-room/__snapshots__/Page.test.ts.snap
  frontend/vitest.config.ts
Labels: feature, service:backend, service:frontend

#989 feat(frontend): create button mobile
  frontend/src/assets/img/divider.svg
  frontend/src/assets/img/triangle.svg
  frontend/src/components/buttons/CreateButton.stories.ts
  frontend/src/components/buttons/CreateButton.test.ts
  frontend/src/components/buttons/CreateButton.vue
  frontend/src/components/buttons/CreateButtonMobile.test.ts
  frontend/src/components/buttons/CreateButtonMobile.vue
  frontend/src/components/buttons/MainButton.vue
  frontend/src/components/buttons/__snapshots__/CreateButton.test.ts.snap
  frontend/src/components/buttons/__snapshots__/CreateButtonMobile.test.ts.snap
  frontend/src/components/buttons/__snapshots__/MainButton.test.ts.snap
  frontend/src/components/embedded-room/useMyRoom.test.ts
  frontend/src/components/menu/BottomMenu.vue
  frontend/src/components/menu/TopMenu.test.ts
  frontend/src/components/menu/UserDropdown.vue
  frontend/src/components/menu/__snapshots__/BottomMenu.test.ts.snap
  frontend/src/layouts/DefaultLayout.vue
  frontend/src/layouts/__snapshots__/DefaultLayout.test.ts.snap
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/auth/__snapshots__/Page.test.ts.snap
  frontend/src/pages/index/+Page.vue
  frontend/src/pages/index/Page.test.ts
  frontend/src/pages/index/__snapshots__/Page.test.ts.snap
  frontend/src/pages/join-room/__snapshots__/Page.test.ts.snap
  frontend/src/pages/room/Page.test.ts
  frontend/src/pages/room/__snapshots__/Page.test.ts.snap
  frontend/src/pages/silent-refresh/__snapshots__/Page.test.ts.snap
  frontend/vitest.config.ts
Labels: feature, design, service:frontend

#1081 feat(backend): open rooms query
  backend/jest.config.json
  backend/package.json
  backend/src/api/BBB.spec.ts
  backend/src/api/BBB.ts
  backend/src/graphql/models/AttendeeModel.ts
  backend/src/graphql/models/RoomModel.ts
  backend/src/graphql/resolvers/RoomResolver.spec.ts
  backend/src/graphql/resolvers/RoomResolver.ts
  backend/src/index.ts
  backend/tsconfig.json
Labels: feature, test, service:backend

#1090 fix(frontend): add z-index to logo so it is clickable
  frontend/src/layouts/DefaultLayout.vue
Labels: bug, service:frontend

#1011 feat(other): e2e authentication tests
  .github/dependabot.yml
  .github/file-filters.yml
  .github/workflows/e2e.run.tests.yml
  .github/workflows/e2e.test.build.docs.yml
  .github/workflows/e2e.test.lint.yml
  frontend/Dockerfile
  frontend/docker-compose.test.yml
  frontend/src/components/menu/UserInfo.vue
  frontend/src/components/menu/__snapshots__/BottomMenu.test.ts.snap
  frontend/src/components/menu/__snapshots__/TopMenu.test.ts.snap
  frontend/src/components/menu/__snapshots__/UserInfo.test.ts.snap
  frontend/src/layouts/__snapshots__/DefaultLayout.test.ts.snap
  frontend/src/pages/auth/__snapshots__/Page.test.ts.snap
  frontend/src/pages/index/__snapshots__/Page.test.ts.snap
  frontend/src/pages/join-room/__snapshots__/Page.test.ts.snap
  frontend/src/pages/room/__snapshots__/Page.test.ts.snap
  frontend/src/pages/silent-refresh/__snapshots__/Page.test.ts.snap
  presenter/Dockerfile
  presenter/docker-compose.test.yml
  tests/.cypress-cucumber-preprocessorrc.json
  tests/.eslintignore
  tests/.eslintrc.cjs
  tests/.gitignore
  tests/.prettierrc.json
  tests/.vuepress/config.ts
  tests/.vuepress/public/favicon.ico
  tests/.vuepress/public/it4c-logo2-clean-bg_alpha-1024x1024.png
  tests/.vuepress/public/it4c-logo2-clean-bg_alpha-128x128.png
  tests/.vuepress/public/it4c-logo2-clean-bg_black-1024x1024.png
  tests/.vuepress/public/it4c-logo2-clean-bg_black-128x128.png
  tests/LICENSE
  tests/README.md
  tests/cypress.config.ts
  tests/cypress/create-cucumber-html-report.ts
  tests/cypress/e2e/features/User.Authentication.feature
  tests/cypress/e2e/pages/AuthentikPage.ts
  tests/cypress/e2e/pages/LoginPage.ts
  tests/cypress/e2e/pages/PresenterPage.ts
  tests/cypress/e2e/pages/WelcomePage.ts
  tests/cypress/e2e/pages/WorldcafePage.ts
  tests/cypress/e2e/steps/common/I_navigate_to_page_{string}.ts
  tests/cypress/e2e/steps/common/I_refresh_the_page.ts
  tests/cypress/e2e/steps/login.ts
  tests/cypress/e2e/steps/logout.ts
  tests/cypress/pages/LoginPage.ts
  tests/cypress/pages/WelcomePage.ts
  tests/cypress/tsconfig.json
  tests/package-lock.json
  tests/package.json
  tests/tsconfig.json
Labels: feature, devops, test, service:github, service:authentik, service:end-to-end

#1162 chore(other): update backend packages 2024 06 14
  backend/package-lock.json
  backend/package.json
Labels: service:backend, dependencies, javascript

#1164 chore(other): update presenter packages 2024 06 16
  presenter/package-lock.json
  presenter/package.json
Labels: service:presenter, dependencies, javascript

#1165 chore(other): update admin packages 2024 06 16
  admin/package-lock.json
  admin/package.json
Labels: dependencies, javascript, service:admin

#1166 chore(other): update frontend packages 2024 06 16
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, javascript, service:frontend

#1181 fix(frontend): show blank page for signin
  frontend/src/pages/signin/+Page.vue
Labels: service:frontend

#1182 refactor(frontend): remove confirm redirect step from login flow
  frontend/.env.dist
  tests/cypress/e2e/features/User.Authentication.feature
  tests/cypress/e2e/steps/login.ts
Labels: devops, refactor, test, service:authentik, service:frontend

#1177 feat(frontend): add error handling and toastify package
  frontend/package-lock.json
  frontend/package.json
  frontend/renderer/app.ts
  frontend/renderer/plugins/globalErrorHandler.spec.ts
  frontend/renderer/plugins/globalErrorHandler.ts
  frontend/scripts/tests/plugin.globalErrorHandler.ts
  frontend/src/components/embedded-room/useMyRoom.spec.ts
  frontend/src/components/embedded-room/useMyRoom.ts
  frontend/src/components/menu/BottomMenu.test.ts
  frontend/src/components/menu/TopMenu.test.ts
  frontend/src/components/menu/UserDropdown.vue
  frontend/src/pages/auth/+Page.vue
  frontend/src/pages/auth/Page.test.ts
  frontend/src/pages/room/Page.test.ts
  frontend/src/pages/signin/+Page.vue
  frontend/src/pages/signin/Page.test.ts
  frontend/src/pages/silent-refresh/+Page.vue
  frontend/src/pages/silent-refresh/Page.test.ts
Labels: service:frontend

#1241 chore(backend): update backend packages 2024 06 22
  backend/package-lock.json
  backend/package.json
Labels: service:backend, dependencies

#1246 chore(frontend): update frontend packages 2024 06 22
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, javascript, service:frontend

#1245 chore(admin): update admin packages 2024 06 22
  admin/package-lock.json
  admin/package.json
Labels: dependencies, javascript, service:admin

#1247 chore(other): update e2e test packages 2024 06 22
  tests/package-lock.json
  tests/package.json
Labels: dependencies, javascript, service:end-to-end

#1248 chore(other): remove obsolete version element from all docker yaml files
  admin/docker-compose.override.yml
  admin/docker-compose.yml
  backend/docker-compose.override.yml
  backend/docker-compose.yml
  docker-compose.override.yml
  docker-compose.yml
  frontend/docker-compose.override.yml
  frontend/docker-compose.test.yml
  frontend/docker-compose.yml
  presenter/docker-compose.override.yml
  presenter/docker-compose.test.yml
  presenter/docker-compose.yml
Labels: devops, refactor, service:docker

#1254 feat(other): add event trigger pull_request_target to test workflows
  .github/workflows/admin.test.build.code.yml
  .github/workflows/admin.test.build.docker.yml
  .github/workflows/admin.test.build.docs.yml
  .github/workflows/admin.test.build.storybook.yml
  .github/workflows/admin.test.lint.code.yml
  .github/workflows/admin.test.unit.code.yml
  .github/workflows/backend.test.build.code.yml
  .github/workflows/backend.test.build.docker.yml
  .github/workflows/backend.test.build.docs.yml
  .github/workflows/backend.test.lint.code.yml
  .github/workflows/backend.test.unit.code.yml
  .github/workflows/e2e.run.tests.yml
  .github/workflows/e2e.test.build.docs.yml
  .github/workflows/e2e.test.lint.yml
  .github/workflows/frontend.test.build.code.yml
  .github/workflows/frontend.test.build.docker.yml
  .github/workflows/frontend.test.build.docs.yml
  .github/workflows/frontend.test.build.storybook.yml
  .github/workflows/frontend.test.lint.code.yml
  .github/workflows/frontend.test.unit.code.yml
  .github/workflows/presenter.test.build.code.yml
  .github/workflows/presenter.test.build.docker.yml
  .github/workflows/presenter.test.build.docs.yml
  .github/workflows/presenter.test.build.storybook.yml
  .github/workflows/presenter.test.lint.code.yml
  .github/workflows/presenter.test.unit.code.yml
  .github/workflows/test.code.yml
Labels: feature, good first issue, devops, service:github

#1255 fix(other): fix naming and urls in modules
  .github/workflows/e2e.run.tests.yml
  admin/Dockerfile
  admin/README.md
  admin/package-lock.json
  admin/package.json
  backend/Dockerfile
  backend/package-lock.json
  backend/package.json
  frontend/Dockerfile
  frontend/package.json
  presenter/Dockerfile
  presenter/package-lock.json
  presenter/package.json
  tests/package-lock.json
  tests/package.json
Labels: devops, dependencies

#1260 feat(backend): handle open rooms
  backend/jest.config.json
  backend/src/api/BBB.ts
  backend/src/graphql/resolvers/dal/handleOpenRooms.spec.ts
  backend/src/graphql/resolvers/dal/handleOpenRooms.ts
  backend/src/index.ts
  backend/test/helpers.ts
Labels: feature, service:backend, service:BBB

#1258 feat(backend): correct password in open room query
  backend/src/graphql/resolvers/RoomResolver.spec.ts
  backend/src/graphql/resolvers/RoomResolver.ts
Labels: feature, service:backend

#1271 refactor(backend): check for open rooms
  backend/jest.config.json
  backend/src/config/config.ts
  backend/src/graphql/resolvers/dal/handleOpenRooms.ts
  backend/src/graphql/schema.ts
  backend/src/index.ts
Labels: bug, service:backend
