Repository dreammall-earth/dreammall.earth, pull requests merged in 2024-05, with the labels that each got.

#723 feat(authentik): add offline_access to the application provider and the frontend
  authentik/database.7z
  frontend/.env.dist
Labels: feature, service:authentik, service:frontend

#777 chore(backend): update packages 2024 05 06
  backend/package-lock.json
  backend/package.json
Labels: dependencies

#778 chore(frontend): update packages 2024 05 06
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, service:frontend

#779 chore(presenter): update packages 2024 05 06
  presenter/.stylelintrc.json
  presenter/package-lock.json
  presenter/package.json
Labels: service:presenter, dependencies

#780 chore(admin): update packages 2024 05 06
  admin/package-lock.json
  admin/package.json
Labels: dependencies, service:admin

#776 feat(admin): admin deploy
  deployment/README.md
  deployment/deploy.sh
  deployment/nginx/admin.conf
  deployment/scripts/build.admin.sh
  deployment/scripts/start.admin.sh
  scripts/release.sh
Labels: feature, service:admin

#786 feat(frontend): clientside admin check
  frontend/.env.dist
  frontend/src/env.ts
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/index/+Page.vue
  frontend/src/pages/index/__snapshots__/Page.test.ts.snap
  frontend/src/stores/authStore.ts
  frontend/vitest.config.ts
Labels: feature, service:frontend

#788 feat(backend): bbb api
  backend/.env.dist
  backend/jest.config.json
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20240508040257_add_meeting/migration.sql
  backend/prisma/migrations/20240508040932_add_name_to_meeting/migration.sql
  backend/prisma/migrations/20240508093355_meeting_fields_optional/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/BBB.spec.ts
  backend/src/api/BBB.ts
  backend/src/auth/authChecker.spec.ts
  backend/src/config/config.ts
  backend/src/graphql/resolvers/RoomResolver.spec.ts
  backend/src/graphql/resolvers/RoomResolver.ts
  frontend/src/graphql/queries/joinMyRoomQuery.ts
  frontend/src/pages/index/+Page.vue
  frontend/src/pages/index/Page.test.ts
Labels: feature, service:backend

#838 chore(presenter): update packages 2024 05 12
  presenter/package-lock.json
  presenter/package.json
Labels: service:presenter, dependencies

#839 chore(frontend): update packages 2024 05 12
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, service:frontend

#840 chore(admin): update packages 2024 05 12
  admin/package-lock.json
  admin/package.json
Labels: dependencies, service:admin

#837 chore(backend): update packages 2024 05 12
  backend/package-lock.json
  backend/package.json
Labels: service:backend, dependencies

#468 feat(other): add custom CSS for Authentik flows (desktop)
  authentik/database.7z
  authentik/docker-compose.yml
  authentik/flows/dreammallearth-authentication-flow.yaml
  authentik/flows/dreammallearth-authorization-implicit-consent.yaml
  authentik/flows/dreammallearth-enrollment-email.yaml
  authentik/flows/dreammallearth-enrollment.yaml
  authentik/flows/dreammallearth-invalidation-flow.yaml
  authentik/web/dist/custom.css
Labels: devops, service:authentik

#850 refactor(other): refine package update management by dependabot groups
  .github/dependabot.yml
Labels: devops, service:presenter, service:backend, dependencies, service:frontend, service:admin

#847 feat(frontend): apollo ssr
  frontend/package-lock.json
  frontend/package.json
  frontend/renderer/app.ts
  frontend/renderer/plugins/apollo.ts
  frontend/src/pages/index/+Page.vue
  frontend/src/pages/index/Page.test.ts
  frontend/src/pages/index/__snapshots__/Page.test.ts.snap
  frontend/src/stores/authStore.ts
Labels: feature, service:frontend

#887 refactor(other): add dependabot group for root directory
  .github/dependabot.yml
Labels: devops, refactor, dependencies

#914 refactor(other): fix indent in .github/depenbabot.yml
  .github/dependabot.yml
Labels: devops, dependencies

#791 feat(backend): bbb api
  backend/.env.dist
  backend/jest.config.json
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20240508040257_add_meeting/migration.sql
  backend/prisma/migrations/20240508040932_add_name_to_meeting/migration.sql
  backend/prisma/migrations/20240508093355_meeting_fields_optional/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/BBB.spec.ts
  backend/src/api/BBB.ts
  backend/src/auth/authChecker.spec.ts
  backend/src/config/config.ts
  backend/src/graphql/resolvers/RoomResolver.spec.ts
  backend/src/graphql/resolvers/RoomResolver.ts
  frontend/src/graphql/queries/joinMyRoomQuery.ts
  frontend/src/pages/index/+Page.vue
  frontend/src/pages/index/Page.test.ts
Labels: feature, service:backend

#923 feat(frontend): better unit tests
  frontend/src/components/menu/LightDarkSwitch.test.ts
  frontend/src/components/menu/LogoImage.test.ts
  frontend/src/components/menu/TabControl.test.ts
  frontend/src/components/menu/UserInfo.test.ts
  frontend/src/components/menu/__snapshots__/LightDarkSwitch.test.ts.snap
  frontend/src/components/menu/__snapshots__/TabControl.test.ts.snap
  frontend/src/components/menu/__snapshots__/UserInfo.test.ts.snap
  frontend/src/components/switch/SwitchComponent.test.ts
  frontend/vitest.config.ts
Labels: feature, test, service:frontend

#942 ci(workflow): refine workflow file-filtering
  .github/file-filters.yml
  README.md
Labels: devops, refactor

#943 ci(workflow): replace vuepress deploy action
  .github/workflows/deploy.docs.yml
Labels: devops, github_actions
