Repository dreammall-earth/dreammall.earth, pull requests merged in 2024-10, with the labels that each got.

#2534 refactor(frontend): change wording
  frontend/src/components/cockpit/my-tables/create-table/CreateTable.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: refactor, service:frontend

#2550 feat(backend): change custom bbb layout to custom
  backend/src/api/BBB.ts
Labels: feature

#2535 fix(backend): user with profile
  backend/src/graphql/models/StarModel.ts
  backend/src/graphql/models/UserModel.ts
  backend/src/graphql/resolvers/StarmapResolver.spec.ts
  frontend/src/graphql/queries/starmapQuery.ts
  frontend/src/stores/userStore.ts
Labels: bug, service:backend, service:frontend

#2538 feat(backend): constant to limit number of stars, current user always first at coordinates 0, 0
  backend/src/graphql/resolvers/StarmapResolver.spec.ts
  backend/src/graphql/resolvers/StarmapResolver.ts
Labels: feature, service:backend

#2557 refactor(backend): set more precise BBB moderatorOnlyMessage
  backend/src/graphql/resolvers/TableResolver.ts
Labels: refactor, service:backend, service:BBB

#2536 refactor(backend): unauthenticated user object
  backend/jest.config.json
  backend/src/context/context.ts
  backend/src/context/index.ts
  backend/src/graphql/resolvers/StarmapResolver.ts
  backend/src/graphql/resolvers/TableResolver.ts
  backend/src/graphql/resolvers/UserResolver.ts
Labels: refactor, test

#2573 refactor(frontend): include wake lock permission to iframe
  frontend/src/components/embedded-table/EmbeddedTable.vue
  frontend/src/components/embedded-table/__snapshots__/EmbeddedTable.test.ts.snap
  frontend/src/pages/table/@id/__snapshots__/Page.test.ts.snap
Labels: refactor, service:frontend

#2614 feat(backend): subscription to calls you are invited
  backend/src/graphql/models/Call.ts
  backend/src/graphql/pubSub.ts
  backend/src/graphql/resolvers/TableResolver.spec.ts
  backend/src/graphql/resolvers/TableResolver.ts
  frontend/src/components/cockpit/my-tables/MyTables.test.ts
  frontend/src/components/cockpit/my-tables/TableItem.test.ts
  frontend/src/components/tablesDrawer/TablesDrawer.test.ts
  frontend/src/graphql/subscriptions/callSubscription.ts
  frontend/src/layouts/DefaultLayout.test.ts
  frontend/src/pages/cockpit/Page.test.ts
  frontend/src/pages/index/Page.test.ts
  frontend/src/pages/table/@id/Page.test.ts
  frontend/src/stores/tablesStore.spec.ts
  frontend/src/stores/tablesStore.ts
Labels: feature, service:backend

#2654 refactor(frontend): change wording from co-moderator to moderator team
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: refactor, service:frontend

#2655 fix(backend): unique constraint violation in seed
  backend/prisma/seed.ts
Labels: bug, service:backend

#2737 fix(other): pin typescript to 5.5.4 in all modules to avoid problems with linting command
  backend/package-lock.json
  backend/package.json
  tests/package-lock.json
  tests/package.json
Labels: bug, service:presenter, service:backend, dependencies, service:end-to-end

#2730 fix(frontend): temporary guest link
  backend/package.json
  backend/src/graphql/models/TableModel.ts
  backend/src/graphql/resolvers/TableResolver.spec.ts
  backend/src/graphql/resolvers/TableResolver.ts
  backend/src/graphql/resolvers/dal/handleOpenTables.spec.ts
  backend/src/graphql/resolvers/dal/handleOpenTables.ts
  backend/tsconfig.json
  frontend/src/components/cockpit/my-tables/create-table/CreateTable.vue
  frontend/src/components/cockpit/my-tables/create-table/TableCreated.vue
  frontend/src/components/malltalk/interfaces/MyTableSettings.ts
  frontend/src/components/malltalk/settings/TableSettings.vue
  frontend/src/components/malltalk/settings/TableSettingsRoot.vue
  frontend/src/components/malltalk/setup/SubmitTable.vue
  frontend/src/components/malltalk/setup/TableSetup.vue
  frontend/src/graphql/mutations/createMyTableMutation.ts
  frontend/src/graphql/mutations/createTableMutation.ts
  frontend/src/graphql/mutations/updateMyTableMutation.ts
  frontend/src/graphql/mutations/updateTableMutation.ts
  frontend/src/graphql/queries/getTableName.ts
  frontend/src/graphql/queries/joinTableAsGuestQuery.ts
  frontend/src/pages/join-table/+Page.vue
  frontend/src/pages/join-table/useGetTableName.ts
  frontend/src/stores/tablesStore.ts
  frontend/src/stores/userStore.spec.ts
  frontend/src/stores/userStore.ts
Labels: feature, service:backend, service:frontend

#2731 feat(backend): log unexpected brevo api responses
  backend/src/api/Brevo/Brevo.spec.ts
  backend/src/api/Brevo/Brevo.ts
  backend/src/api/Brevo/index.ts
  backend/src/context/context.spec.ts
  backend/src/context/context.ts
  backend/src/context/expressContext.ts
  backend/src/context/subscriptionContext.ts
  backend/src/server/sentry/index.ts
  backend/src/server/server.ts
  backend/test/mockContextValue.ts
Labels: feature, service:backend

#2746 feat(backend): testphase ends at given date
  backend/.env.dist
  backend/jest.config.json
  backend/prisma/migrations/20241016114132_add_testphase_ends_at_to_user/migration.sql
  backend/prisma/schema.prisma
  backend/src/auth/authChecker.spec.ts
  backend/src/config/config.ts
  backend/src/context/findOrCreateUser.spec.ts
  backend/src/context/findOrCreateUser.ts
  backend/src/graphql/models/UserModel.ts
  backend/src/graphql/resolvers/UserResolver.spec.ts
  backend/test/mockConfig.ts
Labels: feature, service:backend

#2888 fix(frontend): no prefetch for get table name query
  frontend/src/pages/join-table/useGetTableName.ts
Labels: bug, service:frontend

#2802 refactor(frontend): add fill currentColor to svg phat
  frontend/src/assets/icons/discord.svg
  frontend/src/assets/icons/telegram.svg
  frontend/src/assets/icons/tiktok.svg
  frontend/src/assets/icons/x.svg
  frontend/src/assets/icons/xing.svg
  frontend/src/components/cockpit/about-me/AboutMeView.vue
  frontend/src/components/cockpit/about-me/__snapshots__/AboutMeView.test.ts.snap
  frontend/src/components/cockpit/about-me/__snapshots__/EditSocialMedia.test.ts.snap
  frontend/src/components/starmap/__snapshots__/SidebarInfo.test.ts.snap
Labels: refactor, service:frontend
