Repository dreammall-earth/dreammall.earth, pull requests merged in 2024-09, with the labels that each got.

#1868 feat(backend): bbb webhooks
  backend/.env.dist
  backend/jest.config.json
  backend/src/api/BBB.spec.ts
  backend/src/api/BBB.ts
  backend/src/api/BBB/axios.ts
  backend/src/config/config.ts
  backend/src/index.ts
  backend/src/server/server.ts
  infrastructure/helmfile/dreammall/templates/backend-deployment.yaml
  infrastructure/helmfile/dreammall/values.yaml
  infrastructure/helmfile/values/dreammall.yaml.gotmpl
Labels: feature, service:backend

#1950 feat(backend): simple user seed
  backend/package-lock.json
  backend/package.json
  backend/prisma/seed.ts
Labels: feature, service:backend

#1984 feat(deps): automerge workflow action
  .github/workflows/automerge.yml
Labels: dependencies

#1949 feat(backend): random placement of 2048 stars
  backend/src/graphql/resolvers/StarmapResolver.spec.ts
  backend/src/graphql/resolvers/StarmapResolver.ts
  backend/src/graphql/resolvers/starmap/starmap.spec.ts
  backend/src/graphql/resolvers/starmap/starmap.ts
Labels: feature, service:backend

#2002 feat(backend): distribute users as stars on the starmap
  backend/jest.config.json
  backend/src/graphql/models/StarModel.ts
  backend/src/graphql/resolvers/StarmapResolver.spec.ts
  backend/src/graphql/resolvers/StarmapResolver.ts
  backend/src/graphql/resolvers/starmap/starmap.spec.ts
  backend/src/graphql/resolvers/starmap/starmap.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/starmap/StarMap.vue
  frontend/src/components/starmap/StarMap_mo.vue
  frontend/src/graphql/queries/starmapQuery.ts
Labels: feature, service:backend

#1997 feat(backend): delete table
  backend/src/graphql/resolvers/TableResolver.spec.ts
  backend/src/graphql/resolvers/TableResolver.ts
Labels: feature, service:backend

#2020 feat(backend): remove MyTable from tables query
  backend/src/graphql/resolvers/TableResolver.spec.ts
  backend/src/graphql/resolvers/TableResolver.ts
Labels: feature, service:backend

#2026 feat(frontend): change x attendees to x moderators in my tables section
  frontend/src/components/cockpit/my-tables/MyTables.vue
  frontend/src/components/cockpit/my-tables/TableItem.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: feature, service:frontend

#2178 fix(backend): search user in subscription
  backend/src/graphql/resolvers/TableResolver.ts
  infrastructure/helmfile/values/dreammall.yaml.gotmpl
Labels: bug, service:backend

#2257 feat(backend): remove meeting that has no more moderators
  backend/src/graphql/resolvers/TableResolver.spec.ts
  backend/src/graphql/resolvers/TableResolver.ts
Labels: bug, service:backend

#2236 fix(backend): star distribution up to 896 stars
  backend/src/graphql/resolvers/starmap/starmap.spec.ts
  backend/src/graphql/resolvers/starmap/starmap.ts
Labels: bug, service:backend

#2028 feat(backend): update table
  backend/src/event/EVENT_UPDATE_TABLE.ts
  backend/src/event/EventType.ts
  backend/src/event/Events.ts
  backend/src/graphql/resolvers/TableResolver.spec.ts
  backend/src/graphql/resolvers/TableResolver.ts
  frontend/src/graphql/mutations/updateTableMutation.ts
  frontend/src/stores/tablesStore.ts
Labels: feature, service:backend

#2321 feat(frontend): add click and hover events to starmap
  frontend/src/components/starmap/StarMap.vue
  frontend/src/graphql/queries/starmapQuery.ts
Labels: feature, service:frontend

#2349 fix(backend): catch error of leaving a table you do not join
  backend/src/graphql/resolvers/TableResolver.spec.ts
  backend/src/graphql/resolvers/TableResolver.ts
Labels: test, service:backend

#2348 feat(backend): get table name query
  backend/src/graphql/resolvers/TableResolver.spec.ts
  backend/src/graphql/resolvers/TableResolver.ts
Labels: feature, service:backend

#2376 fix(frontend): long table names for sidebar
  frontend/src/components/tablesDrawer/TableList.vue
Labels: bug, service:frontend

#2411 fix(backend): provide context in subscriptions
  backend/jest.config.json
  backend/src/context/context.ts
  backend/src/context/expressContext.spec.ts
  backend/src/context/expressContext.ts
  backend/src/context/index.ts
  backend/src/context/subscriptionContext.ts
  backend/src/server/server.ts
  frontend/renderer/plugins/apollo.ts
Labels: bug
