Repository dreammall-earth/dreammall.earth, pull requests merged in 2024-08, with the labels that each got.

#1584 feat(backend): events for create and update my table
  backend/src/event/EVENT_CREATE_MY_TABLE.ts
  backend/src/event/EVENT_UPDATE_MY_TABLE.ts
  backend/src/event/EventType.ts
  backend/src/event/Events.ts
  backend/src/graphql/resolvers/TableResolver.spec.ts
  backend/src/graphql/resolvers/TableResolver.ts
Labels: feature, service:backend

#1510 feat(authentik): seed authentik via blueprints
  .github/workflows/e2e.run.tests.yml
  authentik/README.md
  authentik/blueprints/default/default-brand.yaml
  authentik/blueprints/default/events-default.yaml
  authentik/blueprints/default/flow-default-authentication-flow.yaml
  authentik/blueprints/default/flow-default-authenticator-static-setup.yaml
  authentik/blueprints/default/flow-default-authenticator-totp-setup.yaml
  authentik/blueprints/default/flow-default-authenticator-webauthn-setup.yaml
  authentik/blueprints/default/flow-default-invalidation-flow.yaml
  authentik/blueprints/default/flow-default-provider-authorization-explicit-consent.yaml
  authentik/blueprints/default/flow-default-provider-authorization-implicit-consent.yaml
  authentik/blueprints/default/flow-default-source-authentication.yaml
  authentik/blueprints/default/flow-default-source-enrollment.yaml
  authentik/blueprints/default/flow-default-source-pre-authentication.yaml
  authentik/blueprints/default/flow-default-user-settings-flow.yaml
  authentik/blueprints/default/flow-oobe.yaml
  authentik/blueprints/default/flow-password-change.yaml
  authentik/blueprints/dreammall/dreammallearth-application.yaml
  authentik/blueprints/dreammall/dreammallearth-authentication-flow.yaml
  authentik/blueprints/dreammall/dreammallearth-authorization-implicit-consent.yaml
  authentik/blueprints/dreammall/dreammallearth-brand.yaml
  authentik/blueprints/dreammall/dreammallearth-enrollment-email.yaml
  authentik/blueprints/dreammall/dreammallearth-enrollment.yaml
  authentik/blueprints/dreammall/dreammallearth-invalidation-flow.yaml
  authentik/blueprints/example/flows-enrollment-2-stage.yaml
  authentik/blueprints/example/flows-enrollment-email-verification.yaml
  authentik/blueprints/example/flows-login-2fa.yaml
  authentik/blueprints/example/flows-login-conditional-captcha.yaml
  authentik/blueprints/example/flows-recovery-email-verification.yaml
  authentik/blueprints/example/flows-unenrollment.yaml
  authentik/blueprints/example/sources-google-ldap-mappings.yaml
  authentik/blueprints/migrations/migrate-prompt-name.yaml
  authentik/blueprints/schema.json
  authentik/blueprints/system/bootstrap.yaml
  authentik/blueprints/system/providers-google-workspace.yaml
  authentik/blueprints/system/providers-microsoft-entra.yaml
  authentik/blueprints/system/providers-oauth2.yaml
  authentik/blueprints/system/providers-proxy.yaml
  authentik/blueprints/system/providers-rac.yaml
  authentik/blueprints/system/providers-saml.yaml
  authentik/blueprints/system/providers-scim.yaml
  authentik/blueprints/system/sources-ldap.yaml
  authentik/docker-compose.override.yml
  authentik/docker-compose.yml
  authentik/dump.sql
Labels: feature, service:authentik

#1597 fix(backend): revert merge that removed code
  backend/jest.config.json
  backend/src/graphql/resolvers/UserResolver.spec.ts
  backend/src/graphql/resolvers/UserResolver.ts
Labels: service:backend

#1525 feat(frontend): user store
  frontend/scripts/tests/mock.apolloClient.ts
  frontend/src/components/menu/UserInfo.test.ts
  frontend/src/components/menu/UserInfo.vue
  frontend/src/components/menu/__snapshots__/UserInfo.test.ts.snap
  frontend/src/graphql/queries/currentUserQuery.ts
  frontend/src/pages/index/__snapshots__/Page.test.ts.snap
  frontend/src/pages/table/__snapshots__/Page.test.ts.snap
  frontend/src/stores/userStore.spec.ts
  frontend/src/stores/userStore.ts
Labels: feature, service:frontend

#1592 feat(frontend): deep link for table page
  backend/src/graphql/models/TableModel.ts
  backend/src/graphql/resolvers/TableResolver.spec.ts
  backend/src/graphql/resolvers/TableResolver.ts
  frontend/.storybook/ApolloWrapper.vue
  frontend/scripts/tests/mock.vikePageContext.ts
  frontend/src/components/buttons/CreateButton.test.ts
  frontend/src/components/buttons/CreateButton.vue
  frontend/src/components/buttons/mobile-create-button/MobileCreateButtonActions.test.ts
  frontend/src/components/buttons/mobile-create-button/MobileCreateButtonActions.vue
  frontend/src/components/tablesDrawer/TableList.stories.ts
  frontend/src/components/tablesDrawer/TableList.test.ts
  frontend/src/components/tablesDrawer/TableList.vue
  frontend/src/graphql/mutations/joinMyTableMutation.ts
  frontend/src/graphql/queries/joinTableAsGuestQuery.ts
  frontend/src/graphql/queries/joinTableQuery.ts
  frontend/src/graphql/queries/openTablesQuery.ts
  frontend/src/graphql/subscriptions/updateOpenTablesSubscription.ts
  frontend/src/pages/join-table/+Page.vue
  frontend/src/pages/join-table/Page.test.ts
  frontend/src/pages/table/+Page.vue
  frontend/src/pages/table/+route.ts
  frontend/src/pages/table/Page.test.ts
  frontend/src/pages/table/__snapshots__/Page.test.ts.snap
  frontend/src/stores/activeTableStore.spec.ts
  frontend/src/stores/activeTableStore.ts
  frontend/src/stores/tablesStore.spec.ts
  frontend/src/stores/tablesStore.ts
  frontend/vitest.config.ts
Labels: feature, service:backend, service:frontend

#1671 refactor(workflow): pin all github actions by commit hash
  .github/workflows/admin.deploy.chromatic.yml
  .github/workflows/admin.yml
  .github/workflows/backend.yml
  .github/workflows/deploy.docs.yml
  .github/workflows/docker.yml
  .github/workflows/e2e.run.tests.yml
  .github/workflows/e2e.yml
  .github/workflows/frontend.deploy.chromatic.yml
  .github/workflows/frontend.yml
  .github/workflows/pr.yml
  .github/workflows/presenter.deploy.chromatic.yml
  .github/workflows/presenter.yml
  .github/workflows/release.yml
  .github/workflows/root.yml
Labels: devops, refactor, service:docker, github_actions

#1576 fix(authentik): make input field text visible
  authentik/web/dist/custom.css
Labels: bug, design, service:authentik

#1381 refactor(workflow): dry dependabot.yml
  .github/dependabot.yml
Labels: devops, refactor, dependencies

#1657 fix(backend): only meetings that exist in the database are returned as open tables
  backend/jest.config.json
  backend/src/graphql/resolvers/TableResolver.spec.ts
  backend/src/graphql/resolvers/TableResolver.ts
Labels: service:backend

#1784 fix(frontend): avatar reactive
  frontend/src/components/menu/UserInfo.test.ts
  frontend/src/components/menu/UserInfo.vue
Labels: bug, service:frontend

#1789 fix(frontend): table page iframe after meeting ended
  backend/.env.dist
  backend/src/api/BBB.ts
  backend/src/api/BBB/types.ts
  backend/src/config/config.ts
  frontend/src/components/embedded-table/EmbeddedTable.vue
  frontend/src/components/embedded-table/__snapshots__/EmbeddedTable.test.ts.snap
  frontend/src/pages/table-closed/+Page.vue
  frontend/src/pages/table/+Page.vue
  frontend/src/pages/table/__snapshots__/Page.test.ts.snap
Labels: bug, service:frontend

#1818 fix(frontend): update open tables subscription
  backend/src/graphql/resolvers/TableResolver.ts
  backend/src/graphql/resolvers/dal/handleOpenTables.ts
  frontend/src/graphql/subscriptions/updateOpenTablesSubscription.ts
  frontend/src/stores/tablesStore.ts
Labels: bug, service:frontend

#1835 fix(authentik): email enrollment
  authentik/blueprints/dreammall/dreammallearth-brand.yaml
  authentik/blueprints/dreammall/dreammallearth-enrollment-email.yaml
  authentik/blueprints/dreammall/dreammallearth-enrollment.yaml
Labels: bug, refactor, service:authentik

#1870 refactor(frontend): remove chromatic
  .github/workflows/frontend.deploy.chromatic.yml
  .github/workflows/presenter.deploy.chromatic.yml
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  presenter/README.md
  presenter/package-lock.json
  presenter/package.json
Labels: refactor, service:presenter, dependencies, service:frontend

#1832 feat(frontend): add my tables section to cockpit
  frontend/src/components/cockpit/my-tables/MyTables.stories.ts
  frontend/src/components/cockpit/my-tables/MyTables.test.ts
  frontend/src/components/cockpit/my-tables/MyTables.vue
  frontend/src/components/cockpit/my-tables/TableItem.stories.ts
  frontend/src/components/cockpit/my-tables/TableItem.test.ts
  frontend/src/components/cockpit/my-tables/TableItem.vue
  frontend/src/components/cockpit/my-tables/__snapshots__/MyTables.test.ts.snap
  frontend/src/components/cockpit/my-tables/__snapshots__/TableItem.test.ts.snap
  frontend/src/components/cockpit/options-list/OptionButton.test.ts
  frontend/src/components/cockpit/options-list/OptionButton.vue
  frontend/src/components/cockpit/options-list/OptionsList.stories.ts
  frontend/src/components/cockpit/options-list/OptionsList.test.ts
  frontend/src/components/cockpit/options-list/OptionsList.vue
  frontend/src/components/cockpit/options-list/__snapshots__/OptionButton.test.ts.snap
  frontend/src/components/cockpit/options-list/__snapshots__/OptionsList.test.ts.snap
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/cockpit/+Page.vue
  frontend/src/pages/cockpit/__snapshots__/Page.test.ts.snap
Labels: feature, service:frontend

#1863 fix(other): remove console logs
  backend/src/graphql/resolvers/TableResolver.ts
  backend/src/graphql/resolvers/dal/handleOpenTables.ts
  frontend/src/components/buttons/MainButton.test.ts
  frontend/src/stores/tablesStore.ts
Labels: bug, service:backend, service:frontend

#1872 feat(frontend): basic starmap
  backend/src/graphql/models/StarModel.ts
  backend/src/graphql/resolvers/StarmapResolver.spec.ts
  backend/src/graphql/resolvers/StarmapResolver.ts
  backend/src/graphql/schema.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/starmap/StarMap.vue
  frontend/src/components/starmap/StarMap_mo.vue
  frontend/src/graphql/queries/starmapQuery.ts
  frontend/src/pages/index/+Page.vue
  frontend/vitest.config.ts
Labels: feature, service:backend, service:frontend

#1883 fix(frontend): update my table mutation
  frontend/src/graphql/mutations/updateMyTableMutation.ts
Labels: bug, service:frontend

#1884 refactor(other): rename all remaining "room" to "table"
  backend/src/graphql/pubSub.ts
  backend/src/graphql/resolvers/TableResolver.spec.ts
  backend/src/graphql/resolvers/TableResolver.ts
  backend/src/graphql/resolvers/dal/handleOpenTables.ts
  frontend/src/stores/userStore.spec.ts
Labels: refactor, service:backend, service:frontend
