Repository dreammall-earth/dreammall.earth, pull requests merged in 2024-01, with the labels that each got.

#160 chore(presenter): update packages
  presenter/package-lock.json
  presenter/package.json
Labels: devops, service:presenter

#161 fix(presenter): fix unit tests
  presenter/src/components/inputs/MainButton.test.ts
  presenter/src/components/sections/FifthSection.vue
Labels: bug, service:presenter

#165 feat(presenter): snapshot testing
  presenter/README.md
  presenter/package.json
  presenter/src/components/inputs/ContactForm.test.ts
  presenter/src/components/inputs/MainButton.test.ts
  presenter/src/components/inputs/NewsletterForm.test.ts
  presenter/src/components/inputs/TextButtonInput.test.ts
  presenter/src/components/inputs/__snapshots__/ContactForm.test.ts.snap
  presenter/src/components/inputs/__snapshots__/MainButton.test.ts.snap
  presenter/src/components/inputs/__snapshots__/NewsletterForm.test.ts.snap
  presenter/src/components/inputs/__snapshots__/TextButtonInput.test.ts.snap
  presenter/src/components/layout/SectionColumnCard.test.ts
  presenter/src/components/layout/__snapshots__/SectionColumnCard.test.ts.snap
  presenter/src/components/menu/FooterMenu.test.ts
  presenter/src/components/menu/LogoImage.test.ts
  presenter/src/components/menu/TopMenu.test.ts
  presenter/src/components/menu/__snapshots__/FooterMenu.test.ts.snap
  presenter/src/components/menu/__snapshots__/LogoImage.test.ts.snap
  presenter/src/components/menu/__snapshots__/TopMenu.test.ts.snap
  presenter/src/components/nav/AnchorLink.test.ts
  presenter/src/components/nav/__snapshots__/AnchorLink.test.ts.snap
  presenter/src/components/sections/DataProtectionSection.test.ts
  presenter/src/components/sections/FifthSection.test.ts
  presenter/src/components/sections/FirstSection.test.ts
  presenter/src/components/sections/FourthSection.test.ts
  presenter/src/components/sections/ImpressSection.test.ts
  presenter/src/components/sections/NewsletterSection.test.ts
  presenter/src/components/sections/SecondSection.test.ts
  presenter/src/components/sections/SixthSection.test.ts
  presenter/src/components/sections/ThirdSection.test.ts
  presenter/src/components/sections/__snapshots__/DataProtectionSection.test.ts.snap
  presenter/src/components/sections/__snapshots__/FifthSection.test.ts.snap
  presenter/src/components/sections/__snapshots__/FirstSection.test.ts.snap
  presenter/src/components/sections/__snapshots__/FourthSection.test.ts.snap
  presenter/src/components/sections/__snapshots__/ImpressSection.test.ts.snap
  presenter/src/components/sections/__snapshots__/NewsletterSection.test.ts.snap
  presenter/src/components/sections/__snapshots__/SecondSection.test.ts.snap
  presenter/src/components/sections/__snapshots__/SixthSection.test.ts.snap
  presenter/src/components/sections/__snapshots__/ThirdSection.test.ts.snap
  presenter/src/pages/datenschutz/Page.test.ts
  presenter/src/pages/datenschutz/__snapshots__/Page.test.ts.snap
  presenter/src/pages/impressum/Page.test.ts
  presenter/src/pages/impressum/__snapshots__/Page.test.ts.snap
  presenter/src/pages/index/Page.test.ts
  presenter/src/pages/index/__snapshots__/Page.test.ts.snap
Labels: test, service:presenter

#166 feat(backend): database for newsletter double opt in
  backend/jest.config.json
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20240110125636_newsletter_double_opt_in/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/Brevo.spec.ts
  backend/src/api/Brevo.ts
  backend/src/graphql/resolvers/NewsletterSubscriptionResolver.spec.ts
  backend/src/prisma.ts
Labels: feature, service:backend

#167 feat(presenter): test response messages
  presenter/src/components/inputs/ContactForm.test.ts
  presenter/src/components/inputs/NewsletterForm.test.ts
  presenter/vitest.config.ts
Labels: test, service:presenter

#169 feat(presenter): increase coverage presenter
  presenter/src/components/nav/AnchorLink.test.ts
  presenter/src/components/sections/FirstSection.test.ts
  presenter/src/components/sections/FirstSection.vue
  presenter/src/components/sections/FourthSection.test.ts
  presenter/src/components/sections/FourthSection.vue
  presenter/vitest.config.ts
Labels: feature, test, service:presenter

#168 feat(backend): double opt in
  backend/.env.dist
  backend/jest.config.json
  backend/src/api/Brevo.spec.ts
  backend/src/api/Brevo.ts
  backend/src/config/config.spec.ts
  backend/src/config/config.ts
  backend/src/graphql/resolvers/NewsletterSubscriptionResolver.spec.ts
  backend/src/graphql/resolvers/NewsletterSubscriptionResolver.ts
  backend/src/prisma.ts
  backend/test/helpers.ts
Labels: feature, service:backend

#181 docs(other): include browserstack reference as required by that service
  README.md
Labels: devops

#179 feat(presenter): improve stories
  presenter/src/components/inputs/MainButton.vue
  presenter/src/components/nav/AnchorLink.stories.ts
  presenter/src/pages/datenschutz/Page.stories.ts
  presenter/src/pages/impressum/Page.stories.ts
Labels: bug, feature, design, service:presenter

#178 fix(presenter): design fixes
  presenter/src/components/inputs/ContactForm.test.ts
  presenter/src/components/inputs/ContactForm.vue
  presenter/src/components/inputs/MainButton.vue
  presenter/src/components/inputs/NewsletterForm.test.ts
  presenter/src/components/inputs/NewsletterForm.vue
  presenter/src/components/inputs/__snapshots__/ContactForm.test.ts.snap
  presenter/src/components/inputs/__snapshots__/NewsletterForm.test.ts.snap
  presenter/src/components/layout/SectionColumnCard.vue
  presenter/src/components/layout/__snapshots__/SectionColumnCard.test.ts.snap
  presenter/src/components/menu/FooterMenu.vue
  presenter/src/components/menu/TopMenu.vue
  presenter/src/components/menu/__snapshots__/FooterMenu.test.ts.snap
  presenter/src/components/sections/FifthSection.vue
  presenter/src/components/sections/FirstSection.vue
  presenter/src/components/sections/FourthSection.vue
  presenter/src/components/sections/SixthSection.vue
  presenter/src/components/sections/__snapshots__/FirstSection.test.ts.snap
  presenter/src/components/sections/__snapshots__/NewsletterSection.test.ts.snap
  presenter/src/components/sections/__snapshots__/SixthSection.test.ts.snap
  presenter/src/components/sections/__snapshots__/ThirdSection.test.ts.snap
  presenter/src/layouts/DefaultLayout.vue
  presenter/src/layouts/__snapshots__/DefaultLayout.test.ts.snap
  presenter/src/locales/de.json
  presenter/src/pages/datenschutz/__snapshots__/Page.test.ts.snap
  presenter/src/pages/impressum/__snapshots__/Page.test.ts.snap
  presenter/src/pages/index/+Page.vue
  presenter/src/pages/index/__snapshots__/Page.test.ts.snap
Labels: bug, design, service:presenter

#186 feat(presenter): improved social preview
  presenter/renderer/+onRenderHtml.ts
  presenter/src/assets/img/dreammall-logo_social.svg
Labels: feature, design, service:presenter

#198 chore(presenter): update boilerplate presenter 22.01.24
  presenter/package-lock.json
  presenter/package.json
  presenter/src/components/sections/FirstSection.test.ts
  presenter/src/components/sections/FourthSection.test.ts
  presenter/src/components/sections/__snapshots__/FifthSection.test.ts.snap
  presenter/src/components/sections/__snapshots__/FirstSection.test.ts.snap
  presenter/src/pages/index/__snapshots__/Page.test.ts.snap
  presenter/vitest.config.ts
Labels: service:presenter, dependencies

#188 feat(presenter): double opt in
  presenter/package.json
  presenter/scripts/tests/mock.apolloClient.ts
  presenter/scripts/tests/mock.vikePageContext.ts
  presenter/src/components/inputs/ContactForm.test.ts
  presenter/src/components/inputs/ContactForm.vue
  presenter/src/components/inputs/NewsletterForm.test.ts
  presenter/src/components/inputs/NewsletterForm.vue
  presenter/src/graphql/mutations/confirmNewsletter.ts
  presenter/src/graphql/mutations/createContactForm.ts
  presenter/src/graphql/mutations/subscribeToNewsletter.ts
  presenter/src/locales/de.json
  presenter/src/locales/en.json
  presenter/src/pages/optin/+Page.vue
  presenter/src/pages/optin/+route.ts
  presenter/src/pages/optin/Page.stories.ts
  presenter/src/pages/optin/Page.test.ts
  presenter/src/pages/optin/__snapshots__/Page.test.ts.snap
  presenter/tsconfig.json
  presenter/vitest.config.ts
Labels: feature, service:presenter

#203 fix(backend): brevo response call fixes
  backend/src/api/Brevo.spec.ts
  backend/src/api/Brevo.ts
Labels: bug, service:backend

#205 feat(presenter): automatic slider
  presenter/src/components/menu/__snapshots__/HeaderMenu.test.ts.snap
  presenter/src/components/sections/CoffeeSection.vue
  presenter/src/components/sections/__snapshots__/CoffeeSection.test.ts.snap
  presenter/src/components/sections/__snapshots__/PlanningSection.test.ts.snap
  presenter/src/pages/index/__snapshots__/Page.test.ts.snap
Labels: feature, service:presenter

#180 refactor(presenter): make input fields and checkbox reusable components
  presenter/src/components/forms/ContactForm.test.ts
  presenter/src/components/forms/ContactForm.vue
  presenter/src/components/forms/NewsletterForm.test.ts
  presenter/src/components/forms/NewsletterForm.vue
  presenter/src/components/forms/__snapshots__/ContactForm.test.ts.snap
  presenter/src/components/forms/__snapshots__/NewsletterForm.test.ts.snap
  presenter/src/components/inputs/DataPrivacyCheckbox.stories.ts
  presenter/src/components/inputs/DataPrivacyCheckbox.test.ts
  presenter/src/components/inputs/DataPrivacyCheckbox.vue
  presenter/src/components/inputs/EmailInput.stories.ts
  presenter/src/components/inputs/EmailInput.test.ts
  presenter/src/components/inputs/EmailInput.vue
  presenter/src/components/inputs/NameInput.stories.ts
  presenter/src/components/inputs/NameInput.test.ts
  presenter/src/components/inputs/NameInput.vue
  presenter/src/components/inputs/__snapshots__/DataPrivacyCheckbox.test.ts.snap
  presenter/src/components/inputs/__snapshots__/EmailInput.test.ts.snap
  presenter/src/components/inputs/__snapshots__/NameInput.test.ts.snap
  presenter/src/components/menu/__snapshots__/FooterMenu.test.ts.snap
  presenter/src/components/sections/__snapshots__/NewsletterSection.test.ts.snap
  presenter/src/layouts/__snapshots__/DefaultLayout.test.ts.snap
  presenter/src/pages/datenschutz/__snapshots__/Page.test.ts.snap
  presenter/src/pages/impressum/__snapshots__/Page.test.ts.snap
  presenter/src/pages/index/__snapshots__/Page.test.ts.snap
  presenter/src/pages/optin/__snapshots__/Page.test.ts.snap
Labels: refactor, service:presenter

#204 feat(presenter): scss refactor
  presenter/.stylelintrc.json
  presenter/src/assets/scss/imports/_config.scss
  presenter/src/assets/scss/imports/_fonts.scss
  presenter/src/assets/scss/imports/_mixins.scss
  presenter/src/assets/scss/imports/_typo.scss
  presenter/src/assets/scss/style.scss
  presenter/src/components/buttons/MainButton.vue
  presenter/src/components/buttons/TextButtonInput.vue
  presenter/src/components/forms/ContactForm.vue
  presenter/src/components/forms/NewsletterForm.vue
  presenter/src/components/layout/SectionColumnCard.vue
  presenter/src/components/menu/FooterMenu.vue
  presenter/src/components/menu/HeaderMenu.vue
  presenter/src/components/nav/AnchorLink.vue
  presenter/src/components/sections/AboutSection.vue
  presenter/src/components/sections/CallToActionSection.vue
  presenter/src/components/sections/CoffeeSection.vue
  presenter/src/components/sections/DataProtectionSection.vue
  presenter/src/components/sections/ImpressSection.vue
  presenter/src/components/sections/IntroSection.vue
  presenter/src/components/sections/NewsletterSection.vue
  presenter/src/components/sections/PlanningSection.vue
  presenter/src/components/sections/ProductsSection.vue
  presenter/src/layouts/DefaultLayout.vue
  presenter/src/pages/index/+Page.vue
  presenter/vite.config.ts
Labels: feature, refactor, design, service:presenter

#206 feat(presenter): design pages
  presenter/scripts/tests/mock.IntersectionObserver.ts
  presenter/src/components/PageShell.test.ts
  presenter/src/components/PageShell.vue
  presenter/src/components/__snapshots__/LogoImage.test.ts.snap
  presenter/src/components/__snapshots__/PageShell.test.ts.snap
  presenter/src/components/menu/HeaderMenu.test.ts
  presenter/src/components/menu/__snapshots__/FooterMenu.test.ts.snap
  presenter/src/components/menu/__snapshots__/HeaderMenu.test.ts.snap
  presenter/src/components/sections/AboutSection.test.ts
  presenter/src/components/sections/__snapshots__/AboutSection.test.ts.snap
  presenter/src/components/sections/__snapshots__/CoffeeSection.test.ts.snap
  presenter/src/components/sections/__snapshots__/ProductsSection.test.ts.snap
  presenter/src/layouts/DefaultLayout.vue
  presenter/src/layouts/__snapshots__/DefaultLayout.test.ts.snap
  presenter/src/pages/_error/+Page.vue
  presenter/src/pages/_error/Page.test.ts
  presenter/src/pages/datenschutz/+Page.vue
  presenter/src/pages/datenschutz/__snapshots__/Page.test.ts.snap
  presenter/src/pages/impressum/+Page.vue
  presenter/src/pages/impressum/__snapshots__/Page.test.ts.snap
  presenter/src/pages/index/+Page.vue
  presenter/src/pages/index/Page.test.ts
  presenter/src/pages/index/__snapshots__/Page.test.ts.snap
  presenter/src/pages/optin/+Page.vue
  presenter/src/pages/optin/__snapshots__/Page.test.ts.snap
  presenter/vitest.config.ts
Labels: bug, feature, design, service:presenter

#207 feat(presenter): vike per-page title
  presenter/renderer/+config.h.ts
  presenter/renderer/+onRenderClient.ts
  presenter/renderer/+onRenderHtml.ts
  presenter/renderer/app.ts
  presenter/renderer/context/usePageContext.ts
  presenter/renderer/utils.ts
  presenter/src/pages/_error/+title.ts
  presenter/src/pages/_error/Page.test.ts
  presenter/src/pages/datenschutz/+title.ts
  presenter/src/pages/datenschutz/Page.test.ts
  presenter/src/pages/impressum/+title.ts
  presenter/src/pages/impressum/Page.test.ts
  presenter/src/pages/index/+title.ts
  presenter/src/pages/index/Page.test.ts
  presenter/src/pages/optin/+title.ts
  presenter/src/pages/optin/Page.test.ts
  presenter/types/PageContext.d.ts
  presenter/types/PageContext.ts
Labels: feature, service:presenter

#212 fix(presenter): proper social preview
  presenter/.env.dist
  presenter/renderer/+onRenderHtml.ts
  presenter/src/assets/img/dreammall-logo_social.png
  presenter/src/env.test.ts
  presenter/src/env.ts
Labels: bug, service:presenter

#211 chore(release): 1.1.0
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  package-lock.json
  package.json
  presenter/package-lock.json
  presenter/package.json
Labels: release

#225 style(presenter): replace German "du" by "Sie"
  presenter/src/locales/de.json
  presenter/src/locales/en.json
Labels: good first issue, service:presenter
