Repository dreammall-earth/dreammall.earth, pull requests merged in 2024-02, with the labels that each got.

#227 fix(presenter): include jochens english translation
  presenter/src/locales/en.json
Labels: devops, service:presenter

#234 feat(presenter): ust-id in impressum
  presenter/src/components/menu/__snapshots__/HeaderMenu.test.ts.snap
  presenter/src/components/sections/ImpressSection.vue
  presenter/src/components/sections/__snapshots__/ImpressSection.test.ts.snap
  presenter/src/locales/de.json
  presenter/src/locales/en.json
  presenter/src/pages/impressum/__snapshots__/Page.test.ts.snap
Labels: feature, service:presenter

#235 feat(other): logging on deploy
  deployment/deploy.sh
  log/.gitignore
Labels: feature, devops

#238 feat(other): logging for pm2
  deployment/start.backend.sh
  deployment/start.presenter.sh
Labels: feature, devops

#149 feat(presenter): ensure proper internal and external links via local linting rule
  presenter/.eslintrc.cjs
  presenter/eslint-local-rules.cjs
  presenter/eslint-local-rules/href-pattern.cjs
  presenter/package-lock.json
  presenter/package.json
Labels: feature, service:presenter

#239 feat(other): logrotate for nginx logs
  deployment/deploy.sh
Labels: feature, devops

#252 chore(presenter): update boilerplate presenter 19.02
  presenter/package-lock.json
  presenter/package.json
  presenter/renderer/+config.ts
  presenter/src/components/sections/__snapshots__/CoffeeSection.test.ts.snap
  presenter/src/components/sections/__snapshots__/IntroSection.test.ts.snap
  presenter/src/pages/index/__snapshots__/Page.test.ts.snap
Labels: devops, service:presenter

#244 feat(backend): logging events
  backend/prisma/migrations/20240214083722_events/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/Brevo.spec.ts
  backend/src/api/Brevo.ts
  backend/src/config/constants.ts
  backend/src/event/EVENT_CONTACTFORM_SEND.ts
  backend/src/event/EVENT_NEWSLETTER_CONFIRM.ts
  backend/src/event/EVENT_NEWSLETTER_SUBSCRIBE.ts
  backend/src/event/Event.ts
  backend/src/event/EventType.ts
  backend/src/event/Events.ts
  backend/src/graphql/inputs/ContactFormInput.ts
  backend/src/graphql/inputs/SubscribeToNewsletterInput.ts
  backend/src/graphql/resolvers/ContactFormResolver.spec.ts
  backend/src/graphql/resolvers/ContactFormResolver.ts
  backend/src/graphql/resolvers/NewsletterSubscriptionResolver.spec.ts
  backend/src/graphql/resolvers/NewsletterSubscriptionResolver.ts
  backend/test/helpers.ts
Labels: feature, service:backend

#254 feat(backend): prisma logging to console
  backend/src/prisma.ts
Labels: feature, service:backend

#256 feat(backend): logging framework
  backend/jest.config.json
  backend/package-lock.json
  backend/package.json
  backend/src/config/printConfigError.spec.ts
  backend/src/config/printConfigError.ts
  backend/src/event/Event.ts
  backend/src/index.ts
  backend/src/logger.ts
  backend/src/prisma.ts
  backend/src/server/logger.ts
  backend/test/testSetup.ts
Labels: feature, service:backend

#266 fix(presenter): use light mode icons
  presenter/src/assets/img/unused/slide1-logo.svg
  presenter/src/assets/img/unused/slide2-logo.svg
  presenter/src/assets/img/unused/slide3-logo.svg
  presenter/src/components/sections/CoffeeSection.vue
Labels: bug, design, service:presenter

#267 chore(release): v1.2.0
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  package-lock.json
  package.json
  presenter/package-lock.json
  presenter/package.json
Labels: release

#273 chore(backend): update boilerplate backend 24 02
  backend/package-lock.json
  backend/package.json
Labels: devops, service:backend

#274 chore(presenter): update boilerplate frontend 24 02
  .github/workflows/presenter.test.build.code.yml
  .github/workflows/presenter.test.build.docs.yml
  .github/workflows/presenter.test.build.storybook.yml
  .github/workflows/presenter.test.lint.code.yml
  .github/workflows/presenter.test.unit.code.yml
  presenter/.vuepress/config.ts
  presenter/package-lock.json
  presenter/package.json
Labels: devops, service:presenter

#275 feat(other): dependabot for npm on root
  .github/dependabot.yml
  README.md
  package.json
Labels: devops

#285 chore(backend): update boilerplate backend 27 02
  backend/Dockerfile
  backend/docker-compose.override.yml
  backend/docker-compose.yml
  backend/prisma/schema.prisma
Labels: feature, service:backend

#286 chore(presenter): update boilerplate presenter 27 02
  presenter/Dockerfile
  presenter/docker-compose.override.yml
  presenter/docker-compose.yml
Labels: devops, service:presenter

#287 chore(docu): update vuepress
  .vuepress/config.ts
  package-lock.json
  package.json
Labels: devops, service:docs, dependencies
