Repository dreammall-earth/dreammall.earth, pull requests merged in 2024-03, with the labels that each got.

#306 chore(backend): update boilerplate backend 03 04
  backend/package-lock.json
  backend/package.json
Labels: devops, service:backend, dependencies

#307 chore(backend): update packages backend 03 04
  backend/package-lock.json
  backend/package.json
Labels: devops, service:backend, dependencies

#305 chore(presenter): update boilerplate frontend 03 04
  presenter/package-lock.json
  presenter/package.json
Labels: devops, service:presenter, dependencies

#308 chore(presenter): update packages presenter 03 04
  presenter/package-lock.json
  presenter/package.json
Labels: devops, service:presenter, dependencies

#309 fix(other): deployment fixes
  deployment/README.md
  deployment/webhooks/hooks.json.template
Labels: bug, docu

#324 ci(workflow): set node version in workflows
  .github/workflows/backend.test.build.code.yml
  .github/workflows/backend.test.build.docker.yml
  .github/workflows/backend.test.build.docs.yml
  .github/workflows/backend.test.lint.code.yml
  .github/workflows/backend.test.unit.code.yml
  .github/workflows/deploy.docs.yml
  .github/workflows/presenter.deploy.chromatic.yml
  .github/workflows/presenter.test.build.code.yml
  .github/workflows/presenter.test.build.docker.yml
  .github/workflows/presenter.test.build.docs.yml
  .github/workflows/presenter.test.build.storybook.yml
  .github/workflows/presenter.test.lint.code.yml
  .github/workflows/presenter.test.unit.code.yml
Labels: devops, service:presenter, service:docs, service:backend, github_actions

#310 fix(other): backend startscript
  deployment/start.backend.sh
Labels: bug, service:backend

#325 chore(presenter): update boilerplate presenter 11 03
  .github/workflows/presenter.test.build.code.yml
  .github/workflows/presenter.test.build.docker.yml
  .github/workflows/presenter.test.build.docs.yml
  .github/workflows/presenter.test.build.storybook.yml
  .github/workflows/presenter.test.lint.code.yml
  .github/workflows/presenter.test.unit.code.yml
  presenter/package-lock.json
  presenter/package.json
  presenter/src/components/buttons/__snapshots__/TextButtonInput.test.ts.snap
  presenter/src/components/forms/__snapshots__/ContactForm.test.ts.snap
  presenter/src/components/menu/__snapshots__/FooterMenu.test.ts.snap
  presenter/src/layouts/__snapshots__/DefaultLayout.test.ts.snap
  presenter/src/pages/datenschutz/__snapshots__/Page.test.ts.snap
  presenter/src/pages/impressum/__snapshots__/Page.test.ts.snap
  presenter/src/pages/index/__snapshots__/Page.test.ts.snap
  presenter/src/pages/optin/__snapshots__/Page.test.ts.snap
  presenter/vite.config.ts
Labels: devops, service:presenter, dependencies

#326 fix(presenter): disable early hints
  presenter/server/index.ts
Labels: bug, service:presenter

#333 chore(backend): update boilerplate backend 12 03
  .github/workflows/backend.test.build.code.yml
  .github/workflows/backend.test.build.docker.yml
  .github/workflows/backend.test.build.docs.yml
  .github/workflows/backend.test.lint.code.yml
  .github/workflows/backend.test.unit.code.yml
Labels: service:backend, dependencies

#334 fix(presenter): add padding right and left for the paragraph and add margin left for the button
  presenter/src/pages/optin/+Page.vue
  presenter/src/pages/optin/__snapshots__/Page.test.ts.snap
Labels: bug, service:presenter

#345 chore(backend): update boilerplate backend 16 03
  backend/package-lock.json
  backend/package.json
Labels: service:backend, dependencies

#346 chore(presenter): update boilerplate presenter 16 03
  presenter/package-lock.json
  presenter/package.json
Labels: devops, service:presenter, dependencies

#347 feat(presenter): authorization header
  presenter/renderer/app.ts
  presenter/renderer/plugins/apollo.ts
Labels: feature, service:presenter

#376 fix(presenter): fix enrollment url provided by .env.dist
  presenter/.env.dist
Labels: refactor, service:presenter

#350 feat(other): sso dreammall flows
  authentik/database.7z
  authentik/database.unpack.sh
Labels: feature, service:presenter, service:authentik

#381 feat(frontend): docker
  README.md
  backend/README.md
  docker-compose.override.yml
  docker-compose.yml
  frontend/README.md
  frontend/src/assets/dreammall-logo.svg
  frontend/vite.config.ts
Labels: service:docker, service:frontend

#394 chore(backend): update boilerplate backend 25 03
  backend/README.md
  backend/package-lock.json
  backend/package.json
Labels: service:backend, dependencies

#395 chore(presenter): update boilerplate presenter 25 03
  presenter/package-lock.json
  presenter/package.json
Labels: service:presenter, dependencies

#396 chore(frontend): update boilerplate frontend 25 03
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/tests/plugin.pinia.ts
Labels: dependencies, service:frontend

#399 feat(presenter): test header menu
  presenter/scripts/tests/plugin.pinia.ts
  presenter/src/components/menu/HeaderMenu.test.ts
Labels: feature, test, service:presenter

#383 fix(presenter): improve sign in/up buttons
  presenter/src/components/language/LanguageSelector.vue
  presenter/src/components/menu/HeaderMenu.vue
  presenter/src/components/menu/__snapshots__/HeaderMenu.test.ts.snap
  presenter/src/layouts/__snapshots__/DefaultLayout.test.ts.snap
  presenter/src/pages/auth/__snapshots__/Page.test.ts.snap
  presenter/src/pages/datenschutz/__snapshots__/Page.test.ts.snap
  presenter/src/pages/impressum/__snapshots__/Page.test.ts.snap
  presenter/src/pages/index/__snapshots__/Page.test.ts.snap
  presenter/src/pages/optin/__snapshots__/Page.test.ts.snap
  presenter/src/pages/silent-refresh/__snapshots__/Page.test.ts.snap
  presenter/vitest.config.ts
Labels: bug, refactor, design

#401 feat(presenter): test multiple szenarios of extractLocale
  presenter/src/locales/index.test.ts
Labels: feature, test, service:presenter

#400 feat(presenter): add method for language switch that changes the url
  presenter/renderer/+onRenderHtml.ts
  presenter/scripts/tests/mock.vikePageContext.ts
  presenter/src/components/language/LanguageSelector.test.ts
  presenter/src/components/language/LanguageSelector.vue
  presenter/vite.config.ts
Labels: feature, service:presenter
