Repository dreammall-earth/dreammall.earth, pull requests merged in 2024-04, with the labels that each got.

#423 chore(backend): update boilerplate backend 30 03
  backend/package-lock.json
  backend/package.json
Labels: service:backend, dependencies

#424 chore(backend): update boilerplate frontend 30 03
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/__snapshots__/PageShell.test.ts.snap
  frontend/src/components/menu/__snapshots__/TopMenu.test.ts.snap
Labels: dependencies, service:frontend

#425 chore(backend): update presenter from boilerplate frontend 30 03
  presenter/package-lock.json
  presenter/package.json
  presenter/src/components/buttons/__snapshots__/TextButtonInput.test.ts.snap
  presenter/src/components/forms/__snapshots__/ContactForm.test.ts.snap
  presenter/src/components/menu/__snapshots__/FooterMenu.test.ts.snap
  presenter/src/layouts/__snapshots__/DefaultLayout.test.ts.snap
  presenter/src/pages/auth/__snapshots__/Page.test.ts.snap
  presenter/src/pages/datenschutz/__snapshots__/Page.test.ts.snap
  presenter/src/pages/impressum/__snapshots__/Page.test.ts.snap
  presenter/src/pages/index/__snapshots__/Page.test.ts.snap
  presenter/src/pages/optin/__snapshots__/Page.test.ts.snap
  presenter/src/pages/silent-refresh/__snapshots__/Page.test.ts.snap
Labels: service:presenter, dependencies

#407 chore(other): provide dreammall authentik flows as yml
  .github/workflows/test.lint.pr.yml
  authentik/flows/dreammallearth-authentication-flow.yaml
  authentik/flows/dreammallearth-authorization-implicit-consent.yaml
  authentik/flows/dreammallearth-enrollment-email.yaml
  authentik/flows/dreammallearth-enrollment.yaml
  authentik/flows/dreammallearth-invalidation-flow.yaml
Labels: feature, service:authentik

#443 chore(backend): update backend packages 06 04
  backend/package-lock.json
  backend/package.json
Labels: service:backend, dependencies

#444 chore(frontend): update frontend packages 06 04
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, service:frontend

#445 chore(presenter): update presenter packages 06 04
  presenter/package-lock.json
  presenter/package.json
Labels: service:presenter, dependencies

#446 chore(other): set dependabot package update pr limit to none
  .github/dependabot.yml
Labels: good first issue, devops, refactor, dependencies

#457 chore(frontend): update 07 04
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, service:frontend

#455 chore(backend): update backend packages 07 04
  backend/package-lock.json
  backend/package.json
Labels: service:backend, dependencies

#459 refactor(other): bind frontend version to release script
  scripts/release.sh
Labels: refactor, service:frontend

#406 feat(presenter): remove auth service
  presenter/.env.dist
  presenter/package-lock.json
  presenter/package.json
  presenter/renderer/app.ts
  presenter/renderer/plugins/apollo.ts
  presenter/scripts/tests/mock.authService.ts
  presenter/src/components/menu/HeaderMenu.test.ts
  presenter/src/components/menu/HeaderMenu.vue
  presenter/src/env.ts
  presenter/src/pages/auth/+Page.vue
  presenter/src/pages/auth/+title.ts
  presenter/src/pages/auth/Page.test.ts
  presenter/src/pages/auth/__snapshots__/Page.test.ts.snap
  presenter/src/pages/silent-refresh/+Page.vue
  presenter/src/pages/silent-refresh/+title.ts
  presenter/src/pages/silent-refresh/Page.test.ts
  presenter/src/pages/silent-refresh/__snapshots__/Page.test.ts.snap
  presenter/src/services/AuthService.spec.ts
  presenter/src/services/AuthService.ts
  presenter/src/stores/authStore.spec.ts
  presenter/src/stores/authStore.ts
  presenter/vitest.config.ts
Labels: refactor, service:presenter

#461 fix(frontend): persistent authentication
  frontend/package-lock.json
  frontend/package.json
  frontend/server/index.ts
  frontend/src/pages/+guard.ts
  frontend/src/pages/Guard.spec.ts
  frontend/src/stores/authStore.ts
  frontend/types/PageContext.d.ts
  frontend/vitest.config.ts
Labels: bug, service:frontend

#465 fix(frontend): refresh store when silently refreshing token
  frontend/src/components/menu/TopMenu.test.ts
  frontend/src/pages/Guard.spec.ts
  frontend/src/pages/signin/+Page.vue
  frontend/src/pages/signin/Page.test.ts
  frontend/src/pages/silent-refresh/+Page.vue
  frontend/src/pages/silent-refresh/+guard.ts
  frontend/src/pages/silent-refresh/Guard.spec.ts
  frontend/src/stores/authStore.spec.ts
  frontend/src/stores/authStore.ts
Labels: bug, service:frontend

#462 feat(backend): access token validation
  backend/.env.dist
  backend/jest.config.json
  backend/package-lock.json
  backend/package.json
  backend/public.pem
  backend/src/auth/authChecker.ts
  backend/src/config/config.ts
  backend/src/graphql/resolvers/RoomResolver.spec.ts
  backend/src/graphql/resolvers/RoomResolver.ts
  backend/src/graphql/schema.ts
  backend/src/server/context.spec.ts
  backend/src/server/context.ts
  backend/src/server/server.ts
  backend/test/testSetup.ts
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/graphql/queries/getRoomQuery.ts
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/index/+Page.vue
  frontend/src/pages/index/Page.test.ts
  frontend/src/pages/index/__snapshots__/Page.test.ts.snap
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
  presenter/src/components/menu/HeaderMenu.vue
  presenter/src/graphql/queries/querySecret.ts.unused
Labels: feature, service:backend, service:frontend

#467 feat(frontend): test cookie storage
  frontend/src/pages/index/+Page.vue
  frontend/src/stores/authStore.spec.ts
  frontend/vitest.config.ts
Labels: test, service:frontend

#542 chore(other): update remark packages repo-wide
  .remarkrc.json
  README.md
  authentik/README.md
  backend/.remarkrc.json
  backend/README.md
  backend/package-lock.json
  backend/package.json
  deployment/README.md
  frontend/.remarkrc.json
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
  presenter/.remarkrc.json
  presenter/README.md
  presenter/package-lock.json
  presenter/package.json
Labels: docu, dependencies

#540 chore(backend): update packages 13 04
  backend/package-lock.json
  backend/package.json
Labels: service:backend, dependencies

#541 chore(presenter): update packages 13 04
  presenter/.remarkrc.json
  presenter/package-lock.json
  presenter/package.json
Labels: service:presenter, dependencies

#543 chore(frontend): update packages 13 04
  frontend/.remarkrc.json
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, service:frontend

#557 fix(frontend): silent refresh
  frontend/src/stores/authStore.spec.ts
  frontend/src/stores/authStore.ts
Labels: bug, service:frontend

#560 fix(frontend): token refresh working
  frontend/scripts/tests/mock.authService.ts
  frontend/src/components/menu/TopMenu.vue
  frontend/src/pages/auth/+Page.vue
  frontend/src/pages/auth/Page.test.ts
  frontend/src/pages/auth/__snapshots__/Page.test.ts.snap
  frontend/src/pages/silent-refresh/+Page.vue
  frontend/src/services/AuthService.spec.ts
  frontend/src/services/AuthService.ts
  frontend/src/stores/authStore.spec.ts
  frontend/src/stores/authStore.ts
  frontend/vitest.config.ts
Labels: bug, service:frontend

#558 fix(backend): fix apollo logged plugin
  backend/src/server/logger.ts
  backend/src/server/server.ts
Labels: refactor, service:backend

#562 fix(backend): no introspection query in log
  backend/src/server/logger.ts
Labels: bug, service:backend

#563 feat(backend): no logs in unit tests
  backend/src/graphql/resolvers/ContactFormResolver.spec.ts
  backend/src/graphql/resolvers/NewsletterSubscriptionResolver.spec.ts
  backend/src/graphql/resolvers/RoomResolver.spec.ts
  backend/src/server/server.ts
Labels: feature, test, service:backend

#617 chore(admin): update packages 20 04
  admin/package-lock.json
  admin/package.json
  admin/src/pages/app/__snapshots__/Page.test.ts.snap
Labels: dependencies, service:admin

#615 chore(backend): update packages 20 04
  backend/package-lock.json
  backend/package.json
Labels: service:backend, dependencies

#618 chore(frontend): update packages 20 04
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, service:frontend

#622 chore(presenter): update packages 20 04
  presenter/package-lock.json
  presenter/package.json
Labels: service:presenter, dependencies

#565 feat(backend): user context
  backend/prisma/migrations/20240418094359_user_model/migration.sql
  backend/prisma/schema.prisma
  backend/src/auth/authChecker.spec.ts
  backend/src/auth/authChecker.ts
  backend/src/server/context.ts
  backend/test/helpers.ts
  backend/test/testSetup.ts
Labels: feature, service:backend

#566 feat(backend): create user event
  backend/prisma/migrations/20240418112042_add_involved_user_id_to_event/migration.sql
  backend/prisma/schema.prisma
  backend/src/auth/authChecker.spec.ts
  backend/src/auth/authChecker.ts
  backend/src/event/EVENT_CONTACTFORM_SEND.ts
  backend/src/event/EVENT_CREATE_USER.ts
  backend/src/event/EVENT_NEWSLETTER_CONFIRM.ts
  backend/src/event/EVENT_NEWSLETTER_SUBSCRIBE.ts
  backend/src/event/Event.ts
  backend/src/event/EventType.ts
  backend/src/event/Events.ts
  backend/src/graphql/resolvers/ContactFormResolver.spec.ts
  backend/src/graphql/resolvers/NewsletterSubscriptionResolver.spec.ts
Labels: feature, service:backend

#699 chore(backend): update packages 2024 04 27
  backend/package-lock.json
  backend/package.json
Labels: service:backend, dependencies

#701 chore(presenter): update from boilerplate 2024 27 04
  presenter/.stylelintrc.json
  presenter/package-lock.json
  presenter/package.json
Labels: service:presenter, dependencies

#700 chore(frontend): update from boilerplate 2024 04 27
  frontend/.stylelintrc.json
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, service:frontend

#702 chore(admin): update admin from boilerplate 2024 04 27
  admin/.stylelintrc.json
  admin/package-lock.json
  admin/package.json
Labels: dependencies, service:admin
