Repository dreammall-earth/dreammall.earth, pull requests merged in 2024-07, with the labels that each got.

#1180 feat(other): e2e test enter room
  .github/workflows/e2e.run.tests.yml
  tests/cypress.config.ts
  tests/cypress/e2e/features/Tables.feature
  tests/cypress/e2e/pages/LoginPage.ts
  tests/cypress/e2e/pages/WorldcafePage.ts
  tests/cypress/e2e/steps/tables.ts
  tests/package-lock.json
Labels: feature, devops, test, service:frontend, service:BBB, service:end-to-end

#1303 chore(backend): update backend packages 204 06 30
  backend/package-lock.json
  backend/package.json
Labels: service:backend, dependencies

#1304 chore(other): update tests packages 2024 06 30
  tests/package-lock.json
  tests/package.json
Labels: dependencies, service:end-to-end

#1315 refactor(workflow): rm code and speed up workflows
  .github/file-filters.yml
  .github/workflows/admin.test.build.code.yml
  .github/workflows/admin.test.build.docker.yml
  .github/workflows/admin.test.build.docs.yml
  .github/workflows/admin.test.build.storybook.yml
  .github/workflows/admin.test.lint.code.yml
  .github/workflows/admin.test.unit.code.yml
  .github/workflows/admin.yml
  .github/workflows/backend.test.build.code.yml
  .github/workflows/backend.test.build.docker.yml
  .github/workflows/backend.test.build.docs.yml
  .github/workflows/backend.test.lint.code.yml
  .github/workflows/backend.test.unit.code.yml
  .github/workflows/backend.yml
  .github/workflows/e2e.test.build.docs.yml
  .github/workflows/e2e.test.lint.yml
  .github/workflows/e2e.yml
  .github/workflows/frontend..yml
  .github/workflows/frontend.test.build.code.yml
  .github/workflows/frontend.test.build.docker.yml
  .github/workflows/frontend.test.build.docs.yml
  .github/workflows/frontend.test.build.storybook.yml
  .github/workflows/frontend.test.lint.code.yml
  .github/workflows/frontend.test.unit.code.yml
  .github/workflows/presenter.test.build.code.yml
  .github/workflows/presenter.test.build.docker.yml
  .github/workflows/presenter.test.build.docs.yml
  .github/workflows/presenter.test.build.storybook.yml
  .github/workflows/presenter.test.lint.code.yml
  .github/workflows/presenter.test.unit.code.yml
  .github/workflows/presenter.yml
  .github/workflows/test.code.yml
Labels: devops, refactor

#1316 fix(workflow): do not wait for deleted job
  .github/workflows/test.code.yml
Labels: devops

#1311 feat(frontend): no default layout on auth page
  frontend/src/pages/auth/+Page.vue
  frontend/src/pages/auth/__snapshots__/Page.test.ts.snap
  frontend/src/pages/join-room/+Page.vue
  frontend/src/pages/join-room/__snapshots__/Page.test.ts.snap
  frontend/src/pages/silent-refresh/+Page.vue
  frontend/src/pages/silent-refresh/__snapshots__/Page.test.ts.snap
Labels: feature, service:frontend

#1312 refactor(backend): createTime as string
  backend/src/graphql/models/RoomModel.ts
  backend/src/graphql/resolvers/RoomResolver.spec.ts
Labels: release, service:backend

#1317 fix(other): set filtering for markdown file changes in test code workflow
  .github/workflows/test.code.yml
Labels: refactor, service:github

#1318 fix(other): change the indention of if in workflow test code.
  .github/workflows/test.code.yml
Labels: bug, devops, service:github

#1266 fix(backend): await for events to be written
  backend/src/graphql/resolvers/ContactFormResolver.ts
  backend/src/graphql/resolvers/NewsletterSubscriptionResolver.ts
Labels: bug, test, service:backend

#1076 refactor(docker): rm duplicate docker-compose.yml
  .github/workflows/admin.yml
  .github/workflows/backend.yml
  .github/workflows/frontend..yml
  .github/workflows/presenter.yml
  admin/README.md
  admin/docker-compose.override.yml
  admin/docker-compose.yml
  backend/README.md
  backend/docker-compose.override.yml
  backend/docker-compose.yml
  frontend/README.md
  frontend/docker-compose.override.yml
  frontend/docker-compose.test.yml
  frontend/docker-compose.yml
  presenter/README.md
  presenter/docker-compose.override.yml
  presenter/docker-compose.test.yml
  presenter/docker-compose.yml
  tests/README.md
Labels: docu, devops, refactor, service:docker

#949 feat(other): add mailpit for email testing (local and e2e)
  authentik/README.md
  authentik/docker-compose.test.yml
  authentik/docker-compose.yml
Labels: feature, devops, test, service:authentik, service:end-to-end

#1324 fix(workflow): filename typo
  .github/workflows/frontend.yml
Labels: devops

#1325 refactor(other): remove vuepress in subfolders
  .github/workflows/admin.yml
  .github/workflows/backend.yml
  .github/workflows/e2e.yml
  .github/workflows/frontend.yml
  .github/workflows/pr.yml
  .github/workflows/presenter.yml
  .github/workflows/root.yml
  .github/workflows/test.code.yml
  admin/.dockerignore
  admin/.eslintignore
  admin/.gitignore
  admin/.vuepress/config.ts
  admin/Dockerfile
  admin/README.md
  admin/package-lock.json
  admin/package.json
  backend/.dockerignore
  backend/.eslintignore
  backend/.gitignore
  backend/.vuepress/assets/dreammall-logo.svg
  backend/.vuepress/config.ts
  backend/Dockerfile
  backend/README.md
  backend/package-lock.json
  backend/package.json
  docker-compose.override.yml
  docker-compose.yml
  frontend/.dockerignore
  frontend/.eslintignore
  frontend/.gitignore
  frontend/.vuepress/config.ts
  frontend/Dockerfile
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  package.json
  presenter/.dockerignore
  presenter/.eslintignore
  presenter/.gitignore
  presenter/.vuepress/config.ts
  presenter/Dockerfile
  presenter/README.md
  presenter/package-lock.json
  presenter/package.json
  tests/.gitignore
  tests/.vuepress/config.ts
  tests/README.md
  tests/package-lock.json
  tests/package.json
Labels: docu, refactor, dependencies

#1268 feat(backend): subscriptions
  backend/jest.config.json
  backend/package-lock.json
  backend/package.json
  backend/src/graphql/pubSub.ts
  backend/src/graphql/resolvers/RoomResolver.ts
  backend/src/graphql/resolvers/dal/handleOpenRooms.ts
  backend/src/graphql/schema.ts
  backend/src/index.ts
  backend/src/server/server.spec.ts
  backend/src/server/server.ts
  frontend/.env.dist
  frontend/package-lock.json
  frontend/package.json
  frontend/renderer/plugins/apollo.ts
  frontend/src/env.ts
  frontend/src/pages/index/+Page.vue
  frontend/src/pages/index/Page.test.ts
Labels: feature, service:backend, service:frontend

#1326 refactor(workflow): remove push target
  .github/workflows/admin.yml
  .github/workflows/backend.yml
  .github/workflows/e2e.run.tests.yml
  .github/workflows/e2e.yml
  .github/workflows/frontend.yml
  .github/workflows/presenter.yml
  .github/workflows/root.yml
Labels: devops

#1359 fix(docker): remove backend-documentation
  docker-compose.override.yml
Labels: bug, service:docs

#1364 refactor(docker): use default network
  docker-compose.override.yml
  docker-compose.yml
Labels: refactor, service:docker

#1319 build(workflow): same node version on all stages
  .github/workflows/admin.deploy.chromatic.yml
  .github/workflows/admin.yml
  .github/workflows/backend.yml
  .github/workflows/deploy.docs.yml
  .github/workflows/e2e.run.tests.yml
  .github/workflows/e2e.yml
  .github/workflows/frontend.deploy.chromatic.yml
  .github/workflows/frontend.yml
  .github/workflows/presenter.deploy.chromatic.yml
  .github/workflows/presenter.yml
  .github/workflows/release.yml
  .tool-versions
  README.md
  backend/.nvmrc
  backend/package-lock.json
  backend/package.json
  package-lock.json
  package.json
  presenter/.nvmrc
  tests/package-lock.json
  tests/package.json
Labels: devops, dependencies

#1369 refactor(backend): axios logic in separate file
  backend/src/api/BBB.spec.ts
  backend/src/api/BBB.ts
  backend/src/api/BBB/axios.spec.ts
  backend/src/api/BBB/axios.ts
Labels: refactor, service:backend

#1370 refactor(backend): bbb api types in separate file
  backend/src/api/BBB.ts
  backend/src/api/BBB/types.ts
Labels: refactor, service:backend

#1363 feat(backend): update open rooms via subscription
  backend/src/graphql/pubSub.ts
  backend/src/graphql/resolvers/RoomResolver.ts
  backend/src/graphql/resolvers/dal/handleOpenRooms.ts
  backend/src/index.ts
  frontend/package.json
  frontend/scripts/tests/mock.apolloClient.ts
  frontend/src/graphql/subscriptions/updateOpenRoomsSubscription.ts
  frontend/src/pages/index/+Page.vue
  frontend/src/pages/index/Page.test.ts
  frontend/src/stores/roomsStore.spec.ts
  frontend/src/stores/roomsStore.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
Labels: feature, service:backend, service:frontend

#1376 fix(frontend): join room passes username
  frontend/src/pages/join-room/+Page.vue
Labels: bug, service:frontend

#1314 build(other): custom vagrant box with packer
  deployment/local-testing/README.md
  deployment/local-testing/bootstrap.sh
  infrastructure/.gitignore
  infrastructure/README.md
  infrastructure/archive/.gitkeep
  infrastructure/bootstrap.sh
  infrastructure/vagrant.pkr.hcl
  infrastructure/vagrant/.gitignore
  infrastructure/vagrant/Vagrantfile
Labels: devops

#1188 refactor(frontend): refactor tests and stories for sidebar
  frontend/package-lock.json
  frontend/src/components/buttons/CreateButtonMobile.test.ts
  frontend/src/components/buttons/__snapshots__/CreateButtonMobile.test.ts.snap
  frontend/src/components/menu/BottomMenu.vue
  frontend/src/components/menu/TopMenu.stories.ts
  frontend/src/components/menu/TopMenu.vue
  frontend/src/components/vuetify/Atoms/ListElement.stories.ts
  frontend/src/components/vuetify/Organisms/ListWithNavigationDrawer.test.ts
  frontend/src/components/vuetify/Organisms/__snapshots__/ListWithNavigationDrawer.test.ts.snap
  frontend/src/stores/activeRoomStore.ts
Labels: service:frontend

#1388 feat(workflow): auto-assign PR author
  .github/auto_assign.yml
  .github/workflows/pr.yml
Labels: feature, devops

#1375 feat(backend): more meeting options
  backend/.env.dist
  backend/src/api/BBB.ts
  backend/src/api/BBB/types.ts
  backend/src/config/config.ts
  backend/src/graphql/resolvers/RoomResolver.spec.ts
  backend/src/graphql/resolvers/RoomResolver.ts
Labels: feature, service:backend

#1391 refactor(workflow): reset push as workflow trigger event
  .github/workflows/admin.yml
  .github/workflows/backend.yml
  .github/workflows/e2e.run.tests.yml
  .github/workflows/e2e.yml
  .github/workflows/frontend.yml
  .github/workflows/pr.yml
  .github/workflows/presenter.yml
  .github/workflows/root.yml
Labels: refactor, service:github

#1393 fix(frontend): ci requirements
  frontend/package-lock.json
  frontend/src/components/tablesDrawer/TableList.test.ts
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/vitest.config.ts
Labels: bug, service:frontend

#1396 fix(backend): name missmach in environment variable
  backend/.env.dist
  backend/jest.config.json
Labels: bug, service:backend

#1362 feat(frontend): global redirect to presenter on unauthenticated error
  frontend/renderer/plugins/apollo.ts
Labels: feature, service:frontend

#1373 feat(authentik): non-binary dump
  .github/workflows/e2e.run.tests.yml
  authentik/.gitignore
  authentik/README.md
  authentik/database.7z
  authentik/database.pack.sh
  authentik/database.unpack.sh
  authentik/docker-compose.yml
  authentik/dump.sql
Labels: feature, service:authentik

#1454 fix(frontend): same site attribute on auth cookie
  frontend/src/stores/authStore.spec.ts
  frontend/src/stores/authStore.ts
Labels: bug, service:frontend

#1453 refactor(frontend): unauthenticated redirect to signin page
  frontend/.env.dist
  frontend/renderer/plugins/apollo.ts
  frontend/src/env.ts
  frontend/src/pages/+guard.ts
  frontend/src/pages/Guard.spec.ts
Labels: refactor, service:frontend

#1360 fix(other): enable vitest eslint rules
  admin/.eslintrc.cjs
  admin/src/components/ClientOnly.test.ts
  admin/src/env.test.ts
  admin/src/pages/_error/Page.test.ts
  backend/.eslintrc.cjs
  backend/src/api/BBB.spec.ts
  backend/src/api/Brevo.spec.ts
  backend/src/auth/authChecker.spec.ts
  backend/src/config/printConfigError.spec.ts
  backend/src/graphql/resolvers/ContactFormResolver.spec.ts
  backend/src/graphql/resolvers/NewsletterSubscriptionResolver.spec.ts
  backend/src/graphql/resolvers/RoomResolver.spec.ts
  backend/src/graphql/resolvers/UserResolver.spec.ts
  backend/src/graphql/resolvers/dal/handleOpenRooms.spec.ts
  backend/src/server/context.spec.ts
  frontend/.eslintrc.cjs
  frontend/renderer/plugins/globalErrorHandler.spec.ts
  frontend/src/components/ClientOnly.test.ts
  frontend/src/components/buttons/CreateButton.test.ts
  frontend/src/components/buttons/CreateButtonMobile.test.ts
  frontend/src/components/buttons/MainButton.test.ts
  frontend/src/components/menu/BottomMenu.test.ts
  frontend/src/components/menu/TabControl.test.ts
  frontend/src/components/menu/TopMenu.test.ts
  frontend/src/pages/Guard.spec.ts
  frontend/src/pages/_error/Page.test.ts
  frontend/src/pages/auth/Guard.spec.ts
  frontend/src/pages/auth/Page.test.ts
  frontend/src/pages/join-room/Guard.spec.ts
  frontend/src/pages/join-room/Page.test.ts
  frontend/src/pages/signin/Guard.spec.ts
  frontend/src/pages/signin/Page.test.ts
  frontend/src/pages/silent-refresh/Guard.spec.ts
  frontend/src/pages/silent-refresh/Page.test.ts
  frontend/src/services/AuthService.spec.ts
  frontend/src/stores/activeRoomStore.spec.ts
  frontend/src/stores/authStore.spec.ts
  frontend/src/stores/roomsStore.spec.ts
  presenter/.eslintrc.cjs
  presenter/src/components/ClientOnly.test.ts
  presenter/src/components/buttons/MainButton.test.ts
  presenter/src/components/forms/ContactForm.test.ts
  presenter/src/components/forms/NewsletterForm.test.ts
  presenter/src/components/nav/AnchorLink.test.ts
  presenter/src/components/sections/IntroSection.test.ts
  presenter/src/components/sections/PlanningSection.test.ts
  presenter/src/pages/_error/Page.test.ts
  presenter/src/pages/optin/Page.test.ts
Labels: bug, test, service:frontend

#1511 feat(backend): many users in many meetings migration
  backend/prisma/migrations/20240723120823_many_users_many_meetings/migration.sql
  backend/prisma/schema.prisma
Labels: feature, service:backend

#1513 feat(backend): create my room mutation
  backend/jest.config.json
  backend/src/api/BBB.ts
  backend/src/api/BBB/types.ts
  backend/src/graphql/models/RoomModel.ts
  backend/src/graphql/models/UserInMeetingModel.ts
  backend/src/graphql/models/UserModel.ts
  backend/src/graphql/resolvers/RoomResolver.spec.ts
  backend/src/graphql/resolvers/RoomResolver.ts
  backend/src/graphql/resolvers/UserResolver.spec.ts
  backend/src/graphql/resolvers/UserResolver.ts
  backend/src/prisma.ts
  backend/test/helpers.ts
Labels: feature, service:backend

#1514 feat(backend): update my room mutation
  backend/jest.config.json
  backend/src/graphql/resolvers/RoomResolver.spec.ts
  backend/src/graphql/resolvers/RoomResolver.ts
Labels: feature, service:backend

#1530 feat(backend): json web key sets
  .github/workflows/backend.yml
  .github/workflows/e2e.run.tests.yml
  backend/.env.dist
  backend/.gitignore
  backend/README.md
  backend/jest.config.json
  backend/package-lock.json
  backend/package.json
  backend/src/auth/authChecker.ts
  backend/src/auth/jwtVerify.ts
  backend/src/auth/public.pem
  backend/test/testSetup.ts
  docker-compose.yml
Labels: feature, service:authentik

#1543 refactor(workflow): extend pr workflow title scopes
  .github/workflows/pr.yml
Labels: feature, good first issue, devops

#1501 refactor(docker): reduce production image size
  admin/package-lock.json
  admin/package.json
  frontend/package-lock.json
  frontend/package.json
  presenter/package-lock.json
  presenter/package.json
Labels: devops, service:docker

#1518 feat(backend): optional search string for user query
  backend/src/graphql/resolvers/UserResolver.spec.ts
  backend/src/graphql/resolvers/UserResolver.ts
Labels: feature, service:backend

#1402 feat(other): env vars in local virtual machine
  infrastructure/bootstrap.sh
Labels: feature, service:authentik

#1594 feat(backend): change default layout to smart layout
  backend/src/api/BBB.ts
Labels: feature, service:backend, service:BBB
